﻿@{
    ViewBag.Title = "Contact Us";
}



<!-- common banner section -->
<section class="desktop-banner">
    <div class="common-step-banner contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-banner-content">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white">@(Gurupeedam.Resources.LanguageHome.CONTACT_US)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile-banner" style="position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="step-banner-content pt-0" style="height:inherit !important;">
                    <img src="~/Content/asset/img/Layer-556.png" alt="Alternate Text" />
                    <div class="custom-carousel-caption">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white" style="text-align:left;">@(Gurupeedam.Resources.LanguageHome.CONTACT_US)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- common banner section -->
<!-- contact form -->
<section>
    <div class="v0nte-contact-form">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-8">
                    <div class="V0nter-form-inner">
                        <h4 class="cmn-title mn-colour">@(Gurupeedam.Resources.LanguageHome.CONTACT_US_NOW)</h4>
                        <h2 class="cmn-bg-heading">@(Gurupeedam.Resources.LanguageHome.WRITE_A_MESSAGE)</h2>
                        <p class="cmn-text">@(Gurupeedam.Resources.LanguageHome.Please_contact_us_for_general_inquiries__if_you_want_to_share_your_self_experience_working_with_Gurupeedam_or_if_you_would_like_to_request_to_speak_to_our_Guru_)</p>
                        <p class="cmn-text mt-2">
                            @(Gurupeedam.Resources.LanguageHome.Your_interest_in_Gurupeedam_and_its_intent_to_serve_humanity_is_valuable_) <br/>
                            @(Gurupeedam.Resources.LanguageHome.We_love_to_hear_from_you_) 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 justify-content-center">

                    <!-- form starts here -->
                    <form id="contactForm" name="contactForm">
                        <div class="v0nte-menu c0ntact-menu">
                            <div class="row justify-content-center">
                                <div class="col-lg-4">
                                    <input type="radio" name="con_type" id="General_Inquiry" checked value="@(Gurupeedam.Resources.LanguageHome.General_Inquiry)" /> <label class="cmn-text" for="General_Inquiry" style="font-size:14px;">@(Gurupeedam.Resources.LanguageHome.General_Inquiry)</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="radio" name="con_type" id="Sharing_Self_Experiencing" value="@(Gurupeedam.Resources.LanguageHome.Sharing_Self_Experiencing)" /> <label class="cmn-text" for="Sharing_Self_Experiencing" style="font-size:14px;">@(Gurupeedam.Resources.LanguageHome.Sharing_Self_Experiencing)</label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="radio" name="con_type" id="Request_to_speak_to_Guruji" value="@(Gurupeedam.Resources.LanguageHome.Request_to_speak_to_Guru)" /> <label class="cmn-text" for="Request_to_speak_to_Guruji" style="font-size:14px;">@(Gurupeedam.Resources.LanguageHome.Request_to_speak_to_Guru)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="text" placeholder="First Name" id="con_Fname" name="con_Fname">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="text" placeholder="Last Name" id="col_Lname" name="col_Lname">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="email" placeholder="Email Address" id="email" name="email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="text" placeholder="Phone Number" id="number" name="number">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="input-b0x">
                                        <textarea class="cmn-textarea feedback-textarea" cols="30" rows="10" placeholder="Write Message" id="write_message" name="write_message"></textarea>
                                    </div>
                                    <div class="submit-bx">
                                        @*<input type="submit" value="SUBMIT">*@
                                        <button class="btn-submit" type="submit" name="submit" id="send_button">@(Gurupeedam.Resources.LanguageHome.SUBMIT)</button>
                                        <button class="btn-submit" type="button" name="button" id="sending_button" disabled style="display:none;">
                                            <span>
                                                <i class="info-icon fa fa-spinner fa-spin"></i>
                                            </span>
                                            @(Gurupeedam.Resources.LanguageHome.SUBMITING)
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- form ends here -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form -->
<!-- about boxes -->
<section>
    <div class="v0nte-contact-form" style="padding-bottom:0px">
        <div class="about-boxes-outer">
            <div class="container-fluid p-0">
                <div class="row g-0 justify-content-center">
                    @*<div class="col-lg-4 col-md-9">
                            <div class="about-bx item-1">
                                <div class="about-img-circle">
                                    <img src="~/Content/asset/img/Shape-536.png" alt="">
                                </div>
                                <div class="about-details">
                                    <h4 class="address-title">About Gurupeedam</h4>
                                    <p class="about-descripti0n">Morbi ut tellus ac leo molestie luctus nec vehicula sed justo onec tempor rhoncus volutpat ras lorem.</p>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-lg-4 col-md-9">
                        <div class="about-bx item-1">
                            <div class="about-img-circle">
                                <img src="~/Content/asset/img/ContactUsIcon/location_map_marker_icon.svg" alt="">
                            </div>
                            <div class="about-details">
                                <h4 class="address-title">@(Gurupeedam.Resources.LanguageHome.Visit_Us)</h4>
                                <p class="about-descripti0n">@(Gurupeedam.Resources.LanguageHome._18276_Highway_48)<br> @(Gurupeedam.Resources.LanguageHome.Mount_Albert__ON_L0G_1M0)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-9">
                        <div class="about-bx item-2">
                            <div class="about-img-circle">
                                <img src="~/Content/asset/img/ContactUsIcon/email_open_phone_read_send_icon.svg" alt="">
                            </div>
                            <div class="about-details">
                                <h4 class="address-title">@(Gurupeedam.Resources.LanguageHome.Call_or_Email_Us_or_Contact_Us)</h4>
                                <p class="about-descripti0n">
                                    <a href="" class="text-decoration-none">
                                        <i class="far fa-envelope mail-ic0n m-0" style="font-size: 20px; color: #fff; text-decoration: none;"></i>
                                    </a>- info@gurupeedam.com<br>
                                    <a href="" class="text-decoration-none">
                                        <i class="fas fa-phone " style="font-size: 20px; color: #fff; text-decoration: none;"></i>
                                    </a> - 416-630-7634<br>
                                    <a href="" class="text-decoration-none">
                                        <i class="fas fa-fax " style="font-size: 20px; color: #fff; text-decoration: none;"></i>
                                    </a>- 416-630-9264
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-9">
                        <div class="about-bx item-3">
                            <div class="about-img-circle">
                                <img src="~/Content/asset/img/ContactUsIcon/share_icon.svg" alt="">
                            </div>
                            <div class="about-details">
                                <h4 class="address-title">@(Gurupeedam.Resources.LanguageHome.Connect_with_Us)</h4>
                                <p class="">
                                    <a href="" title="Facebook" style="font-size: 27px; color: #fff; text-decoration: none;">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                    <a href="" title="Instagram" style="font-size: 27px; color: #fff; text-decoration: none;">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--  contact map -->
<div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2864.6306303567994!2d-79.31898148510207!3d44.11161303068565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d533939979eeff%3A0x8b72a1a7c4b28dec!2s18276%20ON-48%2C%20Mount%20Albert%2C%20ON%20L0G%201M0%2C%20Canada!5e0!3m2!1sen!2sin!4v1637670333316!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
<!--  contact map -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

<script>

    //Contact us form jquery validation
    $("#contactForm").validate({
        rules: {
            con_Fname: {
                required: true
            },
            col_Lname: {
                required: true
            },
            email: {
                required: true,
                email:true
            },
            number: {
                required: true,
            },
            write_message: {
                required: true
            },
        },
        messages: {
            con_Fname: "First name is required",
            col_Lname: "Last name is required",
            email: {
                required: "Email is required"
            },
            number: {
                required: "Number is required"
            },
            write_message: "Message is required",
        },
        errorPlacement: function (error, element) {
            if (element.is(":radio")) {
                error.appendTo(element.parents('.form-group'));
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function (form) {
            ContactUs();
        }
    });

    //ContactUs form data ajax call
    function ContactUs() {

        $('#send_button').hide();
        $('#sending_button').show();

        $.ajax({
            type: 'POST',
            url: "@Url.Action("ContactUsSend", "Contact")",
            dataType: 'json',
            data: ({
                Con_Subject: $("#contactForm input[name='con_type']:checked").val(),
                con_Fname: $("#con_Fname").val(),
                col_Lname: $("#col_Lname").val(),
                email: $("#email").val(),
                number: $("#number").val(),
                write_message: $("#write_message").val(),
                SuccessMessage: 'Thank you for contacting Gurupeedam. We value your interest and will get back to you shortly.'
            }),
            success: function (response) {
                debugger;
                $('#General_Inquiry').prop('checked', true);
                $("#con_Fname").val('');
                $("#col_Lname").val('');
                $("#email").val('');
                $("#number").val('');
                $("#write_message").val('');

                if (response == 200) {
                     Swal.fire({
                        title: 'Thank you for contacting Gurupeedam. We value your interest and will get back to you shortly.',
                        timer: 4000,
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        }
                    })
                    //setTimeout(function () { window.location.reload(); }, 4000);
                } else {
                    alert('Data Not Inserted');
                }
                $('#send_button').show();
                $('#sending_button').hide();
            },
            error: function (response) {
                console.log(response);
                $('#send_button').show();
                $('#sending_button').hide();
            }
        });
    }

</script>