
img {
	max-width: 100%;
}

body {
	line-height: 1.5;
}

	body.hidden-scrolling {
		overflow-y: hidden;
	}

* {
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}

a {
	text-decoration: none;
}

/*semi bold*/
@font-face {
	src: url(../Fonts/ITCAvantGardeStdDemi.otf);
	font-family: AvantGrade;
	font-weight: 400;
}


/*bold*/
@font-face {
	src: url(../Fonts/ITCAvantGardeStdBold.otf);
	font-family: AvantGrade;
	font-weight: 700;
}


/*thin*/
@font-face {
	src: url(../Fonts/ITCAvantGardeStdMd.otf);
	font-family: AvantGrade;
	font-weight: 100;
}



/*container has width of 1170px in full resolution*/


/*header*/
.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0px;
}

li.menu-iTem {
	display: inline-block;
	position: relative;
	margin: 0px 40px;
}

.sml-header {
	background: #287d84;
	padding: 12px 0px;
	display: block;
}

.mail-id {
	margin-bottom: 0;
	font-size: 14px;
	color: #fff;
	font-family: 'AvantGrade';
	font-weight: 400;
}

.con-info {
	display: flex;
}

.con-outer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.con-mail {
	display: flex;
	align-items: center;
}

	.con-mail:nth-child(1) {
		margin-right: 50px;
	}

.con-ic0ns a {
	margin: 0px 15px;
	text-decoration: none;
	color: #fff;
}

.mail-ic0n {
	font-size: 16px;
	color: #fff;
	margin-right: 10px;
}

.search-ic0n {
	color: #4d4f51;
	font-size: 16px;
}

.menu-iTem a {
	display: inline-block;
	font-size: 16px;
	color: #4d4f51;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.3s ease;
	text-decoration: none;
	font-family: AvantGrade;
	font-weight: 200;
}

.mnuBtn {
	font-size: 16px !important;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 32px;
	border-radius: 50px;
	display: block;
	letter-spacing: 1.5px;
}

.btn-lft {
	color: #287d84 !important;
	border: 2px solid #287d84 !important;
	background: #fff !important;
	margin-right: 15px;
}

.btn-rght {
	color: #fff !important;
	background: #287d84 !important;
	border: 2px solid #fff !important;
}

.header .menu-overlay {
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}

.menu-inner {
	display: inline-block;
	padding: 10px;
	width: 100%;
}

	.menu-inner a {
		font-size: 14px;
	}

	.menu-inner:hover a {
		color: #fff !important;
	}

	.menu-inner:hover {
		background-color: #67b4bb;
	}

.menu-iTem .sub-menu {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 10px 0;
	border-top: 3px solid #287d84;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
	background-color: #fff;
}

nav.nav-menu {
	margin-top: 0px;
}

.btn-groups {
	margin: 0px 20px !important;
}

.menu-iTem a:hover {
	color: #287d84;
}

.menu-iTem a {
	letter-spacing: 1px;
}

/*plus minus*/
.header .menu > .menu-iTem > a .plus {
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left: 5px;
	pointer-events: none;
}

	.header .menu > .menu-iTem > a .plus:before,
	.header .menu > .menu-iTem > a .plus:after {
		content: '';
		position: absolute;
		box-sizing: border-box;
		left: 50%;
		top: 50%;
		background-color: #000000;
		height: 2px;
		width: 100%;
		transform: translate(-50%,-50%);
		transition: all 0.3s ease;
	}

.header .menu > .menu-iTem:hover > a .plus:before,
.header .menu > .menu-iTem:hover > a .plus:after {
	background-color: #287d84;
}

.header .menu > .menu-iTem > a .plus:after {
	transform: translate(-50%,-50%) rotate(-90deg);
}
/*header*/





/*common css*/
.go-btn-lg:hover {
	color: #287d84;
	background: #fff;
	transition: all 0.2s ease;
}

.mn-colour {
	color: #287d84 !important;
}

.cmn-bg-heading {
	font-size: 60px;
	font-family: 'AVANTGRADE';
	font-weight: 700;
}

.cmn-title {
	font-size: 20px;
	letter-spacing: 2px;
	font-family: 'AvantGrade';
	font-weight: 400;
	display: inline-block;
}

.cmn-text {
	font-size: 18px;
	line-height: 32px;
	font-family: 'AvantGrade';
	color: #838694;
	font-weight: 100;
	display: inline-block;
}

.colour-white {
	color: #fff !important;
}




/*home-page*/


/*Banner section*/
.bnr-0uter {
	;
	background-repeat: no-repeat;
	padding: 200px 0px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../img/banner-section.png);
	background-size: cover;
}

.supr-heading {
	font-size: 90px;
	font-family: AvantGrade;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.bnr-inner {
	text-align: center;
}

.go-btn-lg {
	font-size: 18px;
	font-family: 'AvantGrade';
	font-weight: 400;
	letter-spacing: 2px;
	color: #fff;
	text-decoration: none;
	padding: 15px 30px;
	background: #287d84;
	border-radius: 30px;
	display: inline-block;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.banNer-log0 {
	margin-bottom: 10px
}



/*about us*/
.abtuS-wrap {
	padding: 160px 0px 90px 0px;
	background: #fff;
	position: relative;
	z-index: 1;
}

.abt-pht-inner {
	position: relative;
	z-index: 1;
}

	.abt-pht-inner:before {
		content: "";
		position: absolute;
		width: 165px;
		height: 245px;
		background-color: #f4ebdb;
		top: -40px;
		left: -38px;
		z-index: -1;
	}

.abt-pht-outer {
	padding: 0px 20px;
}

.abt-pht-inner:after {
	content: "";
	position: absolute;
	background: url(../img/imglow.png);
	width: 100%;
	height: 100%;
	bottom: -80px;
	left: -38px;
	background-repeat: no-repeat;
	max-width: 325px;
	max-height: 285px;
	z-index: 1;
	background-size: cover;
	border-top: 20px solid #fff;
	border-right: 20px solid #fff;
}

.abt-info-outer {
	padding-left: 20px;
}

.abtuS-wrap .cmn-bg-heading {
	margin-bottom: 20px;
}

.abtuS-wrap .cmn-title {
	margin: 10px 0px;
}

.abtuS-wrap .cmn-text {
	margin-bottom: 16px;
}

	.abtuS-wrap .cmn-text .fa-check-circle {
		font-size: 21px;
		margin-right: 22px;
		color: #287d84;
	}

.fnt-list {
	margin-top: 5px;
}

.big-letter {
	position: absolute;
	bottom: 0;
	font-size: 13.33333vw;
	font-family: 'AvantGrade';
	right: 0;
	color: #f3f4f4;
	line-height: .8;
	z-index: -1;
}

.abtuS-wrap .go-btn-lg {
	margin-top: 10px;
}

.top-img {
	max-height: 570px;
	width: 100%;
	object-fit: cover;
}
/*about us*/



/*program slider*/
.progrm-outer {
	padding: 120px 0px;
	background: #f4ebdb;
	position: relative;
}

.prgrm-inner {
	text-align: center;
}

.progrm-outer #owl-carousel {
	margin-top: 50px;
}

.img-bx { /*height: 320px;*/
}

.slide-img { /*object-fit: cover;*/
	height: 100%;
}

.btm-section {
	background: #fff;
	padding: 50px 35px;
	text-align: left;
}

.prgrm-inner .cmn-bg-heading {
	margin-bottom: 10px;
}

.sldr-title {
	font-size: 24px;
	font-family: 'AvantGrade';
	font-weight: 700;
	color: #1b1f2e;
	margin-bottom: 8px;
}

.slider-btn {
	font-size: 16px;
	text-decoration: none;
	color: #287d84;
	font-family: 'AvantGrade';
	font-weight: 400;
	letter-spacing: 2px;
	padding: 12px 20px;
	border: 1px solid #287d84;
	display: inline-block;
	border-radius: 50px;
}

	.slider-btn:hover {
		color: #fff;
		background: #287d84;
	}

.progrm-outer .program-navi {
	position: relative;
}

	.progrm-outer .program-navi .owl-theme .custom-nav {
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
	}

		.progrm-outer .program-navi .owl-theme .custom-nav .owl-prev, .program-navi .owl-theme .custom-nav .owl-next {
			position: absolute;
			z-index: 100;
			border: none;
		}

			.progrm-outer .program-navi .owl-theme .custom-nav .owl-prev i, .program-navi .owl-theme .custom-nav .owl-next i {
				font-size: 20px;
				color: #000;
			}

		.progrm-outer .program-navi .owl-theme .custom-nav .owl-prev {
			left: -100px;
			margin: 0;
			padding: 0;
			width: 60px;
			height: 60px;
			background: #fbf7f1;
		}

		.progrm-outer .program-navi .owl-theme .custom-nav .owl-next {
			right: -100px;
			margin: 0;
			padding: 0;
			width: 60px;
			height: 60px;
			background: #fbf7f1;
		}

.progrm-outer .owl-theme .owl-dots .owl-dot.active span {
	background: #67b4bb;
	width: 15px;
	height: 15px;
}

.progrm-outer .owl-theme .owl-dots {
	margin-top: 50px;
}

	.progrm-outer .owl-theme .owl-dots .owl-dot span {
		width: 12px;
		height: 12px;
	}

.progrm-outer .program-navi .owl-theme .custom-nav .owl-next:hover, .progrm-outer .program-navi .owl-theme .custom-nav .owl-prev:hover {
	background-color: #67b4bb;
}

	.progrm-outer .program-navi .owl-theme .custom-nav .owl-next:hover i, .progrm-outer .program-navi .owl-theme .custom-nav .owl-prev:hover i {
		color: #fff;
	}

.flower-left {
	position: absolute;
	left: 0;
	top: 0;
}

.flower-right {
	position: absolute;
	right: 0;
	bottom: 0;
}
/*program slider*/



/*gallery wrap*/
.gallery-wrp {
	padding-top: 50px;
}

	.gallery-wrp .row {
		display: flex;
	}

.glry-photo {
	height: 350px;
}

	.glry-photo img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
/*gallery wrap*/


/*services wrap*/
.services-Wrp {
	padding: 100px 0px 150px 0px;
	background: #fff;
	text-align: center;
	position: relative;
	z-index: 1;
}

	.services-Wrp .cmn-title {
		margin-bottom: 15px;
	}

	.services-Wrp .cmn-bg-heading {
		margin-bottom: 0;
	}

.circle-border {
	max-width: 180px;
	height: 180px;
	margin: auto;
	border: 1px solid #287d84;
	position: relative;
	border-radius: 100%;
}

	.circle-border img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 80px;
		max-height: 80px;
	}

.small-ciRcle {
	width: 60px;
	height: 60px;
	margin: auto;
	position: relative;
	border-radius: 100%;
	background: #f4ebdb;
	margin-top: -30px;
}

.circle-number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #878584;
	font-family: 'AvantGrade';
	font-weight: 400;
}

.service-card {
	margin-top: 60px;
	padding: 0px 40px;
}

.servc-title {
	font-size: 24px;
	font-family: 'AvantGrade';
	font-weight: 700;
	margin: 15px 0px;
}

.services-Wrp .cmn-text {
	margin-bottom: 0;
}

.service-btn {
	font-size: 16px;
	text-decoration: none;
	color: #287d84;
	font-family: 'AvantGrade';
	font-weight: 400;
	letter-spacing: 2px;
	padding: 12px 20px;
	border: 1px solid #287d84;
	display: inline-block;
	border-radius: 50px;
	margin-top: 25px;
	background: #fff;
}

	.service-btn:hover {
		color: #fff;
		background: #287d84;
	}

.small-ciRcle:hover {
	background: #287d84;
	transition: 0.2s;
}

	.small-ciRcle:hover .circle-number {
		color: #fff;
		transition: 0.2s;
	}

.big-service {
	font-family: 'AvantGrade';
	font-size: 311px;
	position: absolute;
	bottom: 0;
	line-height: 0.8;
	left: 50%;
	transform: translate(-50%);
	z-index: -1;
	color: #f3f4f4;
}
/*services wrap*/


/*what they are saying slider*/
.wht-they-saying {
	padding: 60px 0px;
	text-align: center;
	background: #287d84;
}

.wht-they-title {
	font-size: 50px;
	font-family: 'AvantGrade';
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0;
}

.monial-outer {
	padding: 120px 0px 100px 0px;
	background: #f4ebdb;
}

.monial-card {
	padding: 60px 40px;
	text-align: center;
	position: relative;
}

	.monial-card:after {
		position: absolute;
		content: "";
		background: #fff;
		width: 100%;
		height: 100%;
		left: 0;
		top: -105px;
		z-index: -1;
	}

.monial-content {
	max-width: 400px;
	margin: auto;
}

.monial-circle {
	width: 50px;
	height: 50px;
	margin: auto;
	position: relative;
	background: #f4ebdb;
	border-radius: 100%;
	margin-bottom: 25px;
}

.monial-numr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.monial-outer .cmn-text {
	margin-bottom: 25px;
}

.monial-name {
	font-size: 18px;
	color: #000;
	letter-spacing: 1px;
	font-family: 'AvantGrade';
	font-weight: 100;
	margin: 0;
	margin-bottom: 30px;
}

.monial-img {
	width: 90px !important;
	height: 90px !important;
	object-fit: cover;
	border-radius: 100%;
	margin: auto;
}

.monial-outer .owl-theme .owl-dots .owl-dot.active span {
	background: #67b4bb;
	width: 15px;
	height: 15px;
}

.monial-outer .owl-theme .owl-dots .owl-dot span {
	width: 12px;
	height: 12px;
}
/*what they are saying*/


/*about guruji*/
.Ab0ut-details-wrp {
	padding: 150px 0px 200px 0px;
	background: #fff;
	z-index: 1;
	position: relative;
}

.details-picture img {
	max-height: 570px;
	width: 100%;
	object-fit: cover;
}

.detAils-right {
	padding-left: 50px;
	height: 100%;
}

.Ab0ut-details-wrp .cmn-bg-heading {
	margin-bottom: 30px;
}

.Ab0ut-details-wrp .cmn-text {
	margin-bottom: 40px;
}

.low-box {
	max-width: 270px;
	max-height: 270px;
	background: #f4ebdb;
	padding: 50px 40px;
	position: absolute;
	bottom: 0;
	left: -38px;
	opacity: 0.7;
}

.details-picture {
	position: relative;
}

.gurus-quote {
	font-size: 20px;
	font-family: 'AvantGrade';
	font-weight: 400;
	margin-bottom: 20px;
	display: inline-block;
}

.quotebx {
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}

	.quotebx i.fas.fa-quote-left {
		font-size: 20px;
	}

.quote-c-right {
	display: block;
	font-family: 'AvantGrade';
	font-weight: 700;
	font-size: 20px;
	font-style: italic;
}

.big-quote {
	position: absolute;
	right: 0;
	font-family: 'AvantGrade';
	font-size: 311px;
	color: #f3f4f4;
	line-height: 0.8;
	bottom: 0;
	z-index: -1;
}

/*about guruji*/


/*donate and volunteer*/
.donate-sIde {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../img/donate-bg.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 545px;
	position: relative;
}

.volUnteer-sIde {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../img/volunteer-bg.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 545px;
	position: relative;
}

.smlbg-wrap .container-fluid .col-md-6 {
	padding: 0;
}

.smlbg-wrap .cmn-bg-heading {
	font-size: 60px;
}

.bg-cnt-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.donate-logo {
	margin-bottom: 25px;
	max-width: 90px;
	max-height: 90px;
}

.smlbg-wrap .cmn-bg-heading {
	margin-bottom: 35px;
}
/*donate and volunteer*/



/*board of directors slider*/
#hod-directer-outer .img-bx { /*height: 480px;*/
}

#hod-directer-outer .progrm-outer {
	padding: 120px 0px;
}

#hod-directer-outer .cmn-text {
	margin-bottom: 0;
	margin-top: 20px;
	color: #151824;
}

.hod-bottom {
	padding: 40px 20px;
	text-align: center;
	background: #fff;
}

.hodname {
	font-size: 18px;
	font-family: 'AvantGrade';
	letter-spacing: 1px;
	color: #287d84;
	margin-bottom: 0;
}

.hodrole {
	font-size: 15px;
	color: #a0a0a0;
	font-family: 'AvantGrade';
	font-weight: 100;
	letter-spacing: 1px;
	display: inline-block;
	margin: 5px 0px 20px 0px;
}

.line {
	display: block;
	width: 100%;
	height: 1px;
	background: #e9e9ee;
}

#hod-directer-outer .hod-carousel {
	position: relative;
}

	#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn {
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
	}

		#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev, .hod-carousel .owl-theme .custom-nav-btn .owl-next {
			position: absolute;
			z-index: 100;
			border: none;
		}

			#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev i, .hod-carousel .owl-theme .custom-nav-btn .owl-next i {
				font-size: 20px;
				color: #000;
			}

		#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev {
			left: -100px;
			margin: 0;
			padding: 0;
			width: 60px;
			height: 60px;
			background: #fbf7f1;
		}

		#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-next {
			right: -100px;
			margin: 0;
			padding: 0;
			width: 60px;
			height: 60px;
			background: #fbf7f1;
		}

			#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-next:hover, #hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev:hover {
				background-color: #67b4bb;
			}

				#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-next:hover i, #hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev:hover i {
					color: #fff;
				}
/*board of directors slider*/



/*footer css here*/
.footer-outer .cmn-text {
	font-size: 16px;
}

.footer-outer {
	background: #1b1f2e;
	padding-top: 90px;
}

	.footer-outer .footer-about .cmn-text {
		margin: 40px 0px;
	}

	.footer-outer .footer-about {
		margin-top: 20px;
	}

		.footer-outer .footer-about ul li {
			display: inline-block;
			width: 47px;
			height: 47px;
			background: #fff;
			position: relative;
			transition: all .2s;
		}

			.footer-outer .footer-about ul li a {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #000;
			}

			.footer-outer .footer-about ul li i {
				font-size: 16px;
			}

			.footer-outer .footer-about ul li:hover {
				background: #278d84;
				transition: all .2s;
			}

				.footer-outer .footer-about ul li:hover i {
					color: #fff;
				}

	.footer-outer .footer-list {
		margin-top: 20px;
	}

	.footer-outer .title {
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 40px;
	}

	.footer-outer .footer-list ul li a {
		color: #838694;
		text-decoration: none;
		font-size: 16px;
		font-family: 'AvantGrade';
		line-height: 36px;
		font-weight: 100;
	}

		.footer-outer .footer-list ul li a:hover {
			color: #fff;
		}

	.footer-outer .footer-newsletter {
		margin-top: 20px;
	}

		.footer-outer .footer-newsletter .input-box input {
			width: 100%;
			background-color: transparent;
			border: 1px solid #323643;
			padding-left: 30px;
			line-height: 73px;
			color: #8d91a2;
		}

			.footer-outer .footer-newsletter .input-box input:focus {
				outline: none;
			}

		.footer-outer .footer-newsletter .input-box {
			position: relative;
		}

			.footer-outer .footer-newsletter .input-box button {
				position: absolute;
				right: 6px;
				top: 50%;
				transform: translateY(-50%);
				height: 62px;
				width: 62px;
				text-align: center;
				line-height: 62px;
				color: #fff;
				background: #287d84;
				border: 0;
				transition: all 0.3s ease-out 0s;
			}

		.footer-outer .footer-newsletter .cmn-text {
			margin-bottom: 0;
			margin-top: 18px;
		}

	.footer-outer .footer-copyright {
		margin-top: 107px;
		border-top: 1px solid #2d313e;
	}

		.footer-outer .footer-copyright .cmn-text {
			padding: 35px 0px;
		}
/*footer css here*/



/*common css for step-pages*/
.common-step-banner {
	width: 100%;
	height: 100%;
	background-attachment: fixed;
}

.step-banner-content {
	height: 330px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

	.step-banner-content .cmn-bg-heading {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.step-banner-content .breadcrumb-item {
		text-transform: uppercase;
	}

.common-step-heading {
	font-size: 60px;
	margin-bottom: 0;
	color: #fff;
	font-family: 'AvantGrade';
	font-weight: 700;
}

.common-step-banner .step-banner-content nav ol li {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

	.common-step-banner .step-banner-content nav ol li a {
		color: #fff;
		padding: 0;
		text-decoration: none;
	}

.common-step-banner .step-banner-content .breadcrumb-item + .breadcrumb-item::before {
	color: #fff !important;
}
/*common css for step-pages*/



/*volunteer page css here*/
.common-step-banner.volunteer {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/volunteer-page.png);
	background-size: cover;
}

.v0nte-main {
	padding: 100px 0px;
}

.v0nte-description .cmn-text {
	margin-bottom: 0;
}

.v0nte-description .cmn-title {
	margin-bottom: 15px;
}

.v0nte-description .cmn-bg-heading {
	margin-bottom: 20px;
}

.v0nte-images {
	padding: 0px 30px;
	height: 530px;
}

	.v0nte-images img {
		height: 100%;
		object-fit: cover;
	}

.v0nte-contact-form {
	padding: 120px 0px 100px 0px;
	background: #f9f5ed;
}

	.v0nte-contact-form .cmn-title {
		margin-bottom: 10px;
	}

	.v0nte-contact-form .cmn-bg-heading {
		margin-bottom: 20px;
	}

	.v0nte-contact-form .cmn-text {
		margin-bottom: 0px;
	}

.V0nter-form-inner {
	text-align: center;
}

.v0nte-menu {
	margin-top: 40px;
}

.v0nte-contact-form .v0nte-menu .input-b0x input {
	width: 100%;
	background: #fff;
	border-radius: 0px;
	border: 0;
	padding: 25px;
	color: #838694;
	font-size: 16px;
	text-transform: capitalize;
	font-family: 'AvantGrade';
	font-weight: 100;
	letter-spacing: 1px;
}

	.v0nte-contact-form .v0nte-menu .input-b0x input:focus {
		border: none;
		outline: none;
	}

.v0nte-contact-form .v0nte-menu .input-b0x {
	margin-top: 20px;
}

	.v0nte-contact-form .v0nte-menu .input-b0x select {
		width: 100%;
		padding: 25px;
		border: none;
		font-size: 16px;
		font-family: 'AvantGrade';
		text-transform: capitalize;
		font-weight: 100;
		color: #838694;
	}

		.v0nte-contact-form .v0nte-menu .input-b0x select:focus {
			border: none;
			outline: none;
		}

		.v0nte-contact-form .v0nte-menu .input-b0x select option {
			color: #000;
		}

.v0nte-contact-form .v0nte-menu .cmn-textarea {
	width: 100%;
	padding: 25px;
	border: none;
	outline: none;
	font-size: 16px;
	text-transform: capitalize;
	font-family: 'AvantGrade';
	font-weight: 100;
	letter-spacing: 1px;
	color: #838694;
	resize: none;
}

.v0nte-contact-form .v0nte-menu .address-textarea {
	max-height: 74px;
}

.v0nte-contact-form .v0nte-menu .feedback-textarea {
	max-height: 190px;
}
/*volunteer page css here*/



/*donate page css here*/
.donate-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/Donation.jpg);
	background-size: cover;
}
/*donate page css here*/
.guidancesession-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/GuidanceforHumanity.jpg);
	background-size: cover;
}
/*contact page css here*/
.common-step-banner.contact {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Layer-556.png);
	background-size: cover;
}

.Gallery-Banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/Gallery.jpg);
	background-size: cover;
}
.hearttoheart-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/HeartToHeart.jpg);
	background-size: cover;
}
.Program-Banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/Programs.jpg);
	background-size: cover;
}
.animalcare-Banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/AnimalCare.jpg);
	background-size: cover;
}
.communityservice-Banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/CommunityService.jpg);
	background-size: cover;
}
.communityservice-Banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/CommunityService.jpg);
	background-size: cover;
}
.seminar-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/Seminars.jpg);
	background-size: cover;
}
.services-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/Services.jpg);
	background-size: cover;
}
.summerwinter-banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Banners/Summer_WinterCamp.jpg);
	background-size: cover;
}

.v0nte-contact-form .c0ntact-menu .submit-bx input[type="submit"] {
	font-size: 17px;
	font-family: 'AvantGrade';
	font-weight: 400;
	letter-spacing: 2px;
	color: #fff;
	text-decoration: none;
	padding: 15px 30px;
	background: #287d84;
	border-radius: 30px;
	display: inline-block;
	text-transform: uppercase;
	border: none;
	margin-top: 40px;
}

.c0ntact-menu .submit-bx {
	text-align: center;
}

.about-boxes-outer .about-img-circle img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 70px;
	max-height: 70px;
}

.about-boxes-outer .address-title {
	margin-bottom: 15px;
	font-family: 'AvantGrade';
	font-weight: 400;
	font-size: 24px;
}

.about-boxes-outer .about-descripti0n {
	margin-bottom: 0;
	font-size: 18px;
	font-family: 'AvantGrade';
	font-weight: 100;
	line-height: 36px;
}

.about-boxes-outer .about-bx {
	background: #287d84;
	color: #fff;
	padding: 74px 0px 74px 205px;
	position: relative;
	height: 100%;
}

	.about-boxes-outer .about-bx:hover .about-img-circle {
		border-color: #29f0b4;
		transition: all 1s;
	}

	.about-boxes-outer .about-bx.item-2 {
		background: #1b1f2e;
		border-right: 2px solid #fff;
		border-left: 2px solid #fff;
	}

		.about-boxes-outer .about-bx.item-2 .about-img-circle {
			background: #f9f5ed;
		}

.about-boxes-outer .about-img-circle {
	width: 105px;
	height: 105px;
	border-radius: 100%;
	background: #27737b;
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	border: 1px solid transparent;
	transition: all 1s;
}

.contact-map {
	margin-bottom: -6px;
	border: 2px solid transparent;
}

	.contact-map iframe {
		height: 560px;
		width: 100%;
	}
/*contact page css here*/



/*about page css here*/
.common-step-banner.about {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Layer-554.png);
	background-size: cover;
	background-position: center;
}

.v0nte-main.about .v0nte-images {
	position: relative;
}

	.v0nte-main.about .v0nte-images .bottom-position-bx {
		position: absolute;
		left: 30px;
		width: 250px;
		bottom: 0;
		background: #287d84;
		color: #fff;
		padding: 30px;
	}

.about-year {
	font-size: 40px;
	font-family: 'AvantGrade';
	font-weight: 700;
	text-align: center;
	display: block;
}

.about-nav-pills .about-pills-content .abt-pht-inner.about:after {
	display: none;
}

.about-nav-pills .about-pills-content .abtuS-wrap {
	background: #f4ebdb;
	padding: 0;
}

.about-nav-pills {
	background: #f4ebdb;
	padding: 100px 0px 120px 0px;
}

	.about-nav-pills #nav-tab {
		justify-content: center;
		border-bottom: none;
	}

	.about-nav-pills .about-pills-content .abt-pht-inner:before {
		background-color: #cbd5ca;
	}

.about-pills-description {
	padding-left: 20px;
}

	.about-pills-description .cmn-text:nth-child(1) {
		margin-bottom: 50px;
	}

	.about-pills-description .cmn-text {
		margin-bottom: 0;
	}

.about-nav-pills .nav-tabs .nav-link {
	font-size: 20px;
	letter-spacing: 2px;
	font-family: 'AvantGrade';
	text-transform: uppercase;
	color: #287d84;
	background: #f4ebdb;
	border: 1px solid #287d84;
	padding: 15px 30px;
	margin-right: 14px;
	border-radius: 0;
}

	.about-nav-pills .nav-tabs .nav-link.active {
		background: #287d84;
		color: #f4ebdb;
	}

	.about-nav-pills .nav-tabs .nav-link:focus, .about-nav-pills .nav-tabs .nav-link:hover {
		border-color: #287d84;
	}

.about-nav-pills .about-pills-content {
	padding-top: 100px;
}

#hod-directer-outer .progrm-outer.about {
	background: #287d84;
}
/*about page css here*/



/*guruji page css here*/
.common-step-banner.guruji {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/guruji-page-bg560.png);
	background-size: cover;
	background-position: center;
}

.Ab0ut-details-wrp.guruji {
	padding: 100px 0px;
}

	.Ab0ut-details-wrp.guruji .feedbck-area .cmn-text {
		margin-bottom: 0;
	}

	.Ab0ut-details-wrp.guruji .feedbck-area .cmn-title {
		margin-bottom: 45px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 32px;
	}

.feedbck-area {
	padding-top: 70px;
	text-align: center;
}
/*guruji page css here*/



/*mind opening sessions*/
.common-step-banner.mind-opening-sessions {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/FinelSet/mind-opening-sessions-bg.png);
	background-size: cover;
}

.

.m0s-card-img img {
	max-height: 410px;
	object-fit: cover;
	width: 100%;
}

.m0s-outer {
	padding: 120px 0px;
	background: #f4ebdb;
}

.prgm-btn {
	font-size: 14px;
	letter-spacing: 3px;
	color: #fff;
	font-family: 'AvantGrade';
	padding: 10px 20px;
	background: #287d84;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.m0s-right {
	height: 100%;
	padding-left: 20px;
}

.m0s-title {
	font-size: 40px;
	font-family: 'AvantGrade';
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0px;
	color: #1b1f2e;
}

.age-cat {
	font-size: 14px;
	display: inline-block;
	letter-spacing: 3px;
	font-family: 'AvantGrade';
}

.m0s-small-cards {
	background: #fff;
	padding: 15px 20px;
	margin-top: 20px;
	text-align: center;
	margin-right: 5px;
}

.group-numr {
	font-size: 16px;
	font-family: 'AvantGrade';
	font-weight: 100;
	color: #838694;
	margin: 12px 0px;
	display: inline-block;
}

.group-age {
	font-size: 16px;
	color: #278d84;
	font-family: 'AvantGrade';
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 30px;
	display: block;
}

.m0s-btm-sec {
	margin-top: 30px;
}

.age-card-img {
	display: block;
	margin: auto;
}

.mind-sessions-nav-outer .nav-tabs {
	border: none;
}

	.mind-sessions-nav-outer .nav-tabs .nav-link {
		border-radius: 0;
		font-size: 16px;
		margin-bottom: 0;
		color: #287d84;
		background: transparent;
		padding: 15px 35px;
		margin-right: 8px;
		font-family: 'AvantGrade';
		border: 1px solid #287d84;
	}

		.mind-sessions-nav-outer .nav-tabs .nav-link.active {
			background-color: #287d84;
			color: #fff;
		}

	.mind-sessions-nav-outer.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
		background-color: #287d84;
		color: #fff;
	}

.mind-pills-content {
	padding-top: 60px;
}

	.mind-pills-content .cmn-text {
		margin-bottom: 0;
	}

.mind-list ul li {
	font-size: 18px;
	line-height: 36px;
	font-family: 'AvantGrade';
	font-weight: 100;
	color: #838694;
	position: relative;
	padding-left: 40px;
	letter-spacing: .5px;
}

	.mind-list ul li i {
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translatey(-50%);
		font-size: 20px;
		color: #287d84;
	}

.mind-list {
	margin-top: 50px;
}

.mind-pills-bg img {
	max-height: 430px;
	width: 100%;
	object-fit: cover;
}

.mind-pills-bg {
	margin-top: 60px;
}

.mind-sessions-nav-outer {
	padding: 100px 0px;
	background: #fff;
}

.mind-img-bx {
	position: relative;
	min-width: 58px;
	min-height: 58px;
	background-color: #e9f2f2;
	margin-right: 30px;
}

	.mind-img-bx img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

.mind-bx {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.mind-details .cmn-title {
	margin-bottom: 20px;
	letter-spacing: 1px;
	font-weight: 700;
}

.progrm-outer.m0s {
	background: #287d84;
}
/*mind opening sessions*/



/*hand to hand*/
.common-step-banner.hand-to-hand {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Layer-569.png);
	background-size: cover;
}
/*hand to hand*/

































/*hamburger custom width css*/
@media(min-width: 992px) {
	.header .menu > .menu-iTem-has-children:hover > .sub-menu {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}

	.header .menu > .menu-iTem-has-children:hover > a .plus:after {
		transform: translate(-50%,-50%) rotate(0deg);
	}
}

.header .menu > .menu-iTem > .sub-menu > .menu-iTem {
	display: block;
}

	.header .menu > .menu-iTem > .sub-menu > .menu-iTem > a {
		display: block;
		padding: 10px 20px;
		font-size: 16px;
		font-weight: 600;
		color: #000000;
		transition: all 0.3s ease;
		text-transform: capitalize;
	}

.header .open-nav-menu {
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

	.header .open-nav-menu span {
		display: block;
		height: 3px;
		width: 24px;
		background-color: #000000;
		position: relative;
	}

		.header .open-nav-menu span:before,
		.header .open-nav-menu span:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000000;
			box-sizing: border-box;
		}

		.header .open-nav-menu span:before {
			top: -7px;
		}

		.header .open-nav-menu span:after {
			top: 7px;
		}

.header .close-nav-menu {
	height: 40px;
	width: 100%;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: flex-end;
	padding-right:10px;
}

	.header .close-nav-menu img {
		width: 16px;
	}
/*hamburger custom width css*/



/* responsive */


/*for header only*/
@media (max-width: 1800px) {
	li.menu-iTem {
		margin: 0px 18px;
	}

	.about-boxes-outer .about-bx {
		padding: 74px 0px 74px 30px;
	}

	.about-boxes-outer .about-img-circle {
		position: static;
		transform: translateY(0);
		margin-bottom: 20px;
	}
}




@media (max-width: 1499.98px) {
	/*.header-main {
		display: block;
	}*/

	nav.nav-menu {
		margin-top: 15px;
	}

	.btn-lft {
		margin-right: 8px;
	}

	.mnuBtn {
		padding: 12px 25px;
		font-size: 14px !important;
	}

	li.menu-iTem {
		margin: 0px 22px;
	}

	.big-service {
		font-size: 180px;
	}

	.big-letter {
		font-size: 180px;
	}

	.big-quote {
		font-size: 180px;
	}

	.progrm-outer .program-navi .owl-theme .custom-nav {
		position: initial;
		display: flex;
		justify-content: space-around;
	}

	#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn {
		position: initial;
		display: flex;
		justify-content: space-around;
	}

	.progrm-outer .program-navi .owl-theme .custom-nav .owl-prev, .program-navi .owl-theme .custom-nav .owl-next {
		position: initial;
	}

	#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev, .hod-carousel .owl-theme .custom-nav-btn .owl-next {
		position: initial;
	}

	.glry-photo {
		height: 250px;
	}

	.abtuS-wrap {
		padding: 120px 0px 100px 0px;
	}

	.services-Wrp {
		padding: 100px 0px 100px 0px;
	}

	.monial-outer {
		padding: 100px 0px 100px 0px;
	}

	.abt-pht-inner:before {
		top: -18px;
		left: -18px;
	}

	.abt-pht-inner:after {
		bottom: -80px;
		left: -18px;
		max-width: 280px;
		max-height: 280px;
		border-top: 15px solid #fff;
		border-right: 15px solid #fff;
	}

	.Ab0ut-details-wrp {
		padding: 120px 0px 120px 0px;
	}

	#hod-directer-outer .progrm-outer {
		padding: 100px 0px;
	}

	#hod-directer-outer .img-bx { /*height: 400px;*/
	}
}




@media (max-width: 1199.98px) {
	li.menu-iTem {
		margin: 0px 14px;
	}

	.menu-iTem a {
		font-size: 14px;
	}

	.dpdw-link a {
		font-size: 14px;
	}

	.dpdw-link {
		padding: 8px 12px;
	}

	.nav-inr {
		display: block;
	}
	/*.header-main{display: block;}*/
	.btn-lft {
		margin-right: 8px;
	}

	.mnuBtn {
		padding: 10px 20px;
	}

	.btn-groups {
		margin: 0px 10px !important;
	}

	.supr-heading {
		font-size: 70px;
		margin-bottom: 30px;
	}

	.abtuS-wrap {
		padding: 100px 0px 80px 0px;
	}

	.progrm-outer {
		padding: 100px 0px;
	}

	.about-nav-pills {
		padding: 100px 0px;
	}

	.progrm-outer .owl-theme .owl-dots {
		margin-top: 30px;
	}

	.cmn-bg-heading {
		font-size: 50px;
	}

	.img-bx { /*height: 280px;*/
	}

	.btm-section {
		padding: 40px 30px;
	}

	.glry-photo {
		height: 200px;
	}

	.service-card {
		margin-top: 40px;
		padding: 0px 25px;
		height: 100%;
	}

	.circle-border {
		max-width: 150px;
		height: 150px;
	}

		.circle-border img {
			max-width: 70px;
			max-height: 70px;
		}

	.small-ciRcle {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}

	.circle-number {
		font-size: 16px;
	}

	.wht-they-saying {
		padding: 50px 0px;
	}

	.wht-they-title {
		font-size: 40px;
	}

	.monial-outer {
		padding: 100px 0px 80px 0px;
	}

	.v0nte-contact-form {
		padding: 100px 0px;
	}

	.monial-card {
		padding: 40px 20px;
	}

		.monial-card:after {
			top: -80px;
		}

	.Ab0ut-details-wrp {
		padding: 100px 0px 100px 0px;
	}

	.low-box {
		left: 0px;
		padding: 40px 30px;
	}

	.Ab0ut-details-wrp .cmn-text {
		margin-bottom: 20px;
	}

	.abt-info-outer {
		padding-left: 10px;
	}

	.detAils-right {
		padding-left: 30px;
	}

	.volUnteer-sIde {
		height: 445px;
	}

	.donate-sIde {
		height: 445px;
	}

	.smlbg-wrap .cmn-bg-heading {
		font-size: 46px;
	}

	#hod-directer-outer .img-bx { /*height: 380px;*/
	}

	.hod-bottom {
		padding: 20px 20px;
	}

	.hodrole {
		margin: 5px 0px 10px 0px;
	}

	#hod-directer-outer .cmn-text {
		margin-top: 15px;
		font-size: 17px;
	}

	.go-btn-lg {
		font-size: 17px;
		padding: 15px 25px;
	}

	.abtuS-wrap .cmn-text {
		margin-bottom: 10px;
	}

	.common-step-banner.contact {
		background-position: bottom;
	}

	.v0nte-images {
		height: 430px;
	}

	.about-nav-pills .about-pills-content {
		padding-top: 80px;
	}

	.m0s-outer {
		padding: 100px 0px;
	}

	.mind-pills-content {
		padding-top: 50px;
	}

	.mind-pills-bg {
		margin-top: 50px;
	}
}




@media (max-width: 991.98px) {
	.header-main {
		display: flex;
	}

	.header .menu-overlay.active {
		visibility: visible;
		opacity: 1;
	}

	.header .nav-menu {
		position: fixed;
		left: -290px;
		visibility: hidden;
		width: 290px;
		height: 100%;
		top: 0;
		overflow-y: auto;
		background-color: #fff;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}

		.header .nav-menu.open {
			visibility: visible;
			left: 0px;
		}

	.header .menu > .menu-iTem {
		display: block;
		margin: 0;
	}

	.header .menu > .menu-iTem-has-children > a {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header .menu > .menu-iTem > a .plus:before,
	.header .menu > .menu-iTem > a .plus:after {
		background-color: #287d84;
	}

	.header .menu > .menu-iTem-has-children.active > a .plus:after {
		transform: translate(-50%,-50%) rotate(0deg);
	}

	.header .menu > .menu-iTem > .sub-menu {
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border: none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top: auto;
		/*max-height: 0;*/
		overflow: hidden;
	}

		.header .menu > .menu-iTem > .sub-menu > .menu-iTem > a {
			padding: 12px 45px;
			color: #ffffff;
			border-bottom: 1px solid #333333;
		}

	.header .close-nav-menu,
	.header .open-nav-menu {
		display: flex;
	}

	.header .nav-menu.open {
		margin-top: 0px;
		/*padding: 15px;*/
	}

		.header .nav-menu.open .menu-inner {
			font-size: 12px;
		}

		.header .nav-menu.open .menu-iTem a {
			font-size: 12px;
			width: 100%;
		}
		.header .nav-menu.open .menu-iTem .sub-menu-mobile {
			position: relative;
			padding-left: 10px;
			font-size: 10px !important;
		}
		.header .nav-menu.open .menu-iTem .sub-menu-mobile:before {
			position: absolute;
			content: "";
			width: 10px;
			height: 1px;
			background: #287d84;
			top: 31%;
			left: -3px;
		}
	.header .menu > .menu-iTem > a .plus:after{
		content:none;
	}
	.header .menu > .menu-iTem > a {
		margin-bottom: 10px;
		padding: 10px;
		border-bottom: 1px solid #ededed;
	}

	.mnuBtn {
		text-align: center !important;
		width: 100% !important;
	}

	nav.nav-menu {
		margin-top: 0px;
	}

	.menu-inner a {
		border-bottom: 1px solid #ededed;
		padding-bottom: 10px;
	}

	.menu-inner:hover a {
		color: #287d84 !important;
	}

	.menu-inner:hover {
		background-color: transparent;
	}

	.bnr-0uter {
		padding: 150px 0px;
	}

	.supr-heading {
		font-size: 60px;
	}

	.go-btn-lg {
		font-size: 16px;
		padding: 10px 25px;
		letter-spacing: 1px;
	}

	.abtuS-wrap {
		padding: 80px 0px 80px 0px;
	}

	.about-nav-pills {
		padding: 80px 0px;
	}

	.v0nte-contact-form {
		padding: 80px 0px;
	}

	.v0nte-main {
		padding: 80px 0px;
	}

	.big-service {
		font-size: 150px;
	}

	.big-letter {
		font-size: 150px;
	}

	.big-quote {
		font-size: 150px;
	}

	.cmn-bg-heading {
		font-size: 40px;
	}

	.abtuS-wrap .cmn-bg-heading {
		margin-bottom: 10px;
	}

	.cmn-title {
		font-size: 18px;
	}

	.abtuS-wrap .cmn-title {
		margin: 5px 0px;
	}

	.abt-info-outer {
		padding-left: 0px;
	}

	.cmn-text {
		font-size: 16px;
	}

	.progrm-outer {
		padding: 80px 0px;
	}

	.glry-photo {
		height: 150px;
	}

	.services-Wrp {
		padding: 80px 0px 80px 0px;
	}

	.circle-border {
		max-width: 120px;
		height: 120px;
	}

		.circle-border img {
			max-width: 50px;
			max-height: 50px;
		}

	.servc-title {
		font-size: 18px;
		font-weight: 400;
		margin: 10px 0px;
	}

	.service-btn {
		font-size: 14px;
		padding: 10px 15px;
		margin-top: 15px;
	}

	.wht-they-saying {
		padding: 40px 0px;
	}

	.monial-outer {
		padding: 80px 0px 80px 0px;
	}

	.monial-img {
		max-width: 80px;
		max-height: 80px;
	}

	.monial-card:after {
		top: -70px;
	}

	.monial-card {
		padding: 25px 20px;
	}

	.monial-outer .owl-theme .owl-dots .owl-dot.active span {
		width: 12px;
		height: 12px;
	}

	.monial-outer .cmn-text {
		margin-bottom: 15px;
	}

	.monial-name {
		font-size: 17px;
		margin-bottom: 20px;
	}

	.Ab0ut-details-wrp {
		padding: 80px 0px 80px 0px;
	}

	.detAils-right {
		padding-left: 10px;
	}

	.low-box {
		left: 0px;
		padding: 20px 15px;
		max-width: 200px;
		max-height: 200px;
	}

	.gurus-quote {
		font-size: 17px;
		margin-bottom: 10px;
	}

	.quote-c-right {
		font-size: 18px;
	}

	.service-card {
		margin-top: 30px;
		padding: 0px 15px;
	}

	.donate-sIde {
		height: 345px;
	}

	.volUnteer-sIde {
		height: 345px;
	}

	.smlbg-wrap .cmn-bg-heading {
		font-size: 35px;
		margin-bottom: 20px;
	}

	.donate-logo {
		margin-bottom: 15px;
		max-width: 70px;
		max-height: 70px;
	}

	#hod-directer-outer .progrm-outer {
		padding: 80px 0px;
	}

	.progrm-outer #owl-carousel {
		margin-top: 40px;
	}

	#hod-directer-outer .img-bx { /*height: 300px;*/
	}

	.progrm-outer .owl-theme .owl-dots .owl-dot.active span {
		width: 12px;
		height: 12px;
	}

	.progrm-outer .program-navi .owl-theme .custom-nav .owl-next, .progrm-outer .program-navi .owl-theme .custom-nav .owl-prev {
		width: 40px;
		height: 40px;
	}

		.progrm-outer .program-navi .owl-theme .custom-nav .owl-prev i, .program-navi .owl-theme .custom-nav .owl-next i {
			font-size: 16px;
		}

	#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-next, #hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev {
		width: 40px;
		height: 40px;
	}

		#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn .owl-prev i, .hod-carousel .owl-theme .custom-nav-btn .owl-next i {
			font-size: 16px;
		}

	.hodname {
		font-size: 18px;
	}

	.about-boxes-outer .about-bx {
		padding: 74px 0px 74px 205px;
	}

	.about-boxes-outer .about-img-circle {
		width: 105px;
		height: 105px;
		border-radius: 100%;
		background: #27737b;
		position: absolute;
		top: 50%;
		left: 80px;
		transform: translateY(-50%);
	}

	.about-boxes-outer .about-bx.item-2 {
		border: none;
	}

	.v0nte-menu {
		margin-top: 20px;
	}

	.v0nte-images {
		padding: 0;
		height: 330px;
	}

	.v0nte-main.about .v0nte-images .bottom-position-bx {
		width: 200px;
		padding: 20px;
		left: 0;
	}

	.about-nav-pills .nav-tabs .nav-link {
		font-size: 16px;
		padding: 10px 25px;
		margin-right: 10px;
	}

	.about-nav-pills .about-pills-content {
		padding-top: 60px;
	}

	.feedbck-area {
		padding-top: 50px;
	}

	.Ab0ut-details-wrp.guruji .feedbck-area .cmn-title {
		margin-bottom: 30px;
	}

	.Ab0ut-details-wrp.guruji {
		padding: 80px 0px;
	}

	.about-pills-description .cmn-text:nth-child(1) {
		margin-bottom: 30px;
	}

	.abt-pht-inner:before {
		height: 150px;
	}

	.m0s-outer {
		padding: 80px 0px;
	}

	.m0s-right {
		padding-left: 0px;
		text-align: center;
		padding-top: 60px;
	}

	.m0s-small-cards {
		margin-right: 20px;
	}

	.mind-sessions-nav-outer {
		padding: 80px 0px;
	}

		.mind-sessions-nav-outer .nav-tabs {
			justify-content: center;
		}

			.mind-sessions-nav-outer .nav-tabs .nav-link {
				font-size: 15px;
				padding: 10px 22px;
				margin-right: 5px;
			}

	.mind-pills-content {
		padding-top: 40px;
	}

	.mind-list {
		margin-top: 40px;
	}

		.mind-list ul li {
			font-size: 16px;
		}

	.mind-pills-bg {
		margin-top: 40px;
	}

	.mind-bx {
		margin-top: 40px;
	}
}




@media (max-width: 767.98px) {
	.con-outer {
		flex-flow: wrap;
	}

	.con-info {
		display: flex;
		order: 2;
		justify-content: space-around;
		width: 100%;
		margin-top: 10px;
	}

	.con-ic0ns {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.bnr-0uter {
		padding: 120px 0px;
	}

	.supr-heading {
		font-size: 42px;
	}

	.supr-heading {
		margin-bottom: 20px;
	}

	.go-btn-lg {
		font-size: 16px;
		padding: 10px 22px;
		letter-spacing: 1px;
		font-weight: 200;
	}

	.abtuS-wrap {
		padding: 60px 0px 60px 0px;
	}

	.abt-pht-inner:before {
		width: 120px;
		height: 120px;
	}

	.abt-pht-inner:after {
		bottom: -40px;
		max-width: 200px;
		max-height: 200px;
		border-top: 10px solid #fff;
		border-right: 10px solid #fff;
	}

	.top-img {
		width: 100%;
	}

	.abt-info-inner {
		padding: 80px 40px 0px 40px;
		text-align: center;
	}

	.big-service {
		font-size: 120px;
	}

	.big-letter {
		font-size: 120px;
	}

	.big-quote {
		font-size: 120px;
	}

	.progrm-outer {
		padding: 60px 0px;
	}

	.gallery-wrp {
		padding-top: 30px;
	}

	.glry-photo {
		height: 100px;
	}

	.services-Wrp {
		padding: 60px 0px;
	}

	.about-nav-pills {
		padding: 60px 0px;
	}

	.v0nte-contact-form {
		padding: 60px 0px;
	}

	.circle-border {
		max-width: 100px;
		height: 100px;
	}

		.circle-border img {
			max-width: 40px;
			max-height: 40px;
		}

	.monial-outer {
		padding: 60px 0px;
	}

	.detAils-right {
		padding: 60px 0px 0px 0px;
		text-align: center;
	}

	.cmn-bg-heading {
		font-size: 35px;
	}

	.wht-they-title {
		font-size: 35px;
	}

	.volUnteer-sIde {
		height: 250px;
	}

	.donate-sIde {
		height: 250px;
	}

	.smlbg-wrap .cmn-bg-heading {
		font-size: 25px;
		margin-bottom: 16px;
	}

	.donate-logo {
		margin-bottom: 10px;
		max-width: 50px;
		max-height: 50px;
	}

	.Ab0ut-details-wrp {
		padding: 60px 0px;
	}

	#hod-directer-outer .progrm-outer {
		padding: 60px 0px;
	}

	.about-boxes-outer .about-bx {
		padding: 74px 0px 74px 30px;
	}

	.about-boxes-outer .about-img-circle {
		position: static;
		transform: translateY(0);
		margin-bottom: 20px;
	}

	.contact-map iframe {
		height: 300px;
	}

	.v0nte-contact-form .c0ntact-menu .submit-bx input[type="submit"] {
		font-size: 16px;
		padding: 11px 25px;
		margin-top: 30px;
	}

	.v0nte-main {
		padding: 60px 0px;
	}

	.v0nte-images {
		padding: 60px 0px 0px 0px;
		height: 430px;
	}

		.v0nte-images img {
			width: 100%;
		}

	.v0nte-description {
		text-align: center;
	}

	.about-pills-description {
		padding-left: 0;
		padding-top: 40px;
		text-align: center;
	}

		.about-pills-description .cmn-text:nth-child(1) {
			margin-bottom: 20px;
		}

	.about-nav-pills .nav-tabs .nav-link {
		font-size: 14px;
		padding: 10px 20px;
		margin-right: 6px;
	}

	.Ab0ut-details-wrp.guruji {
		padding: 60px 0px;
	}

	.m0s-outer {
		padding: 60px 0px;
	}

	.m0s-small-cards {
		margin-right: 0;
	}

	.mind-sessions-nav-outer {
		padding: 60px 0px;
	}

		.mind-sessions-nav-outer .nav-tabs {
			display: block;
		}

			.mind-sessions-nav-outer .nav-tabs .nav-link {
				width: 100%;
				margin-right: 0;
				margin: 10px 0px;
			}

	.mind-list {
		margin-top: 30px;
	}

	.mind-pills-bg {
		margin-top: 30px;
	}

	.mind-bx {
		margin-top: 30px;
	}

	.mind-img-bx {
		margin-right: 20px;
	}

	.mind-sessions-nav-outer.hand-to-hand .nav-tabs {
		display: flex;
	}

		.mind-sessions-nav-outer.hand-to-hand .nav-tabs .nav-link {
			width: auto;
			margin: 10px 5px;
		}
}



@media (max-width: 575.98px) {
	.sml-header {
		display: none;
	}

	.header-main {
		padding: 20px 0px;
	}

	.header .open-nav-menu {
		margin-left: 15px;
		margin-right: 0;
	}

	.big-service {
		font-size: 80px;
	}

	.big-letter {
		font-size: 80px;
	}

	.big-quote {
		font-size: 80px;
	}

	.supr-heading {
		font-size: 35px;
	}

	.abtuS-wrap {
		padding: 50px 0px 50px 0px;
	}

	.progrm-outer {
		padding: 50px 0px;
	}

	.about-nav-pills {
		padding: 50px 0px;
	}

	.v0nte-main {
		padding: 50px 0px;
	}

	.progrm-outer .program-navi .owl-theme .custom-nav {
		display: none;
	}

	.btm-section {
		padding: 30px 20px;
	}

	.sldr-title {
		font-size: 20px;
		font-weight: 400;
	}

	.slider-btn {
		font-size: 14px;
		padding: 10px 15px;
	}

	.gallery-wrp .row {
		display: block;
	}

	.glry-photo {
		height: 250px;
		margin: 15px 0px;
	}

	.services-Wrp {
		padding: 50px 0px;
	}

	.wht-they-title {
		font-size: 30px;
	}

	.cmn-title {
		font-size: 16px;
	}

	.cmn-bg-heading {
		font-size: 30px;
	}

	.circle-border {
		max-width: 80px;
		height: 80px;
	}

	.circle-number {
		font-size: 14px;
	}

	.wht-they-saying {
		padding: 30px 0px;
	}

	.monial-outer {
		padding: 50px 0px;
	}

	.Ab0ut-details-wrp {
		padding: 50px 0px;
	}

		.Ab0ut-details-wrp .cmn-bg-heading {
			margin-bottom: 20px;
		}

	.go-btn-lg {
		font-size: 14px;
		padding: 10px 20px;
	}

	#hod-directer-outer .progrm-outer {
		padding: 50px 0px;
	}

	#hod-directer-outer .hod-carousel .owl-theme .custom-nav-btn {
		display: none;
	}

	.progrm-outer #owl-carousel {
		margin-top: 30px;
	}

	.abt-info-inner {
		padding: 80px 0px 0px 0px;
	}

	.service-card {
		padding: 0;
	}

	.about-boxes-outer .about-bx {
		padding: 54px 0px 54px 30px;
	}

	.v0nte-images {
		height: 330px;
	}

	.about-nav-pills .nav-tabs .nav-link {
		font-size: 10px;
		padding: 10px 10px;
		margin-right: 5px;
	}

	.Ab0ut-details-wrp.guruji {
		padding: 50px 0px;
	}

	.step-banner-content {
		display: block;
		padding-top: 100px;
	}

		.step-banner-content .cmn-bg-heading {
			margin-bottom: 20px;
		}

	.v0nte-contact-form .v0nte-menu .input-b0x input {
		padding: 15px 20px;
	}

	.v0nte-contact-form .v0nte-menu .cmn-textarea {
		padding: 15px 20px;
	}

	.v0nte-contact-form .v0nte-menu .address-textarea {
		max-height: 54px;
	}

	.v0nte-contact-form .v0nte-menu .address-textarea {
		max-height: 54px;
	}

	.v0nte-contact-form .v0nte-menu .input-b0x select {
		padding: 15px 20px;
	}

	.m0s-outer {
		padding: 60px 0px;
	}

	.m0s-title {
		font-size: 30px;
	}

	.m0s-btm-sec {
		margin-top: 20px;
	}

	.m0s-right {
		padding-top: 45px;
	}

	.prgm-btn {
		margin-bottom: 15px;
	}

	.mind-sessions-nav-outer {
		padding: 50px 0px;
	}

	.mind-img-bx {
		width: 58px;
		height: 58px;
		margin: auto;
		margin-bottom: 15px;
	}

	.mind-bx {
		display: block;
		text-align: center;
	}

	.mind-pills-content .cmn-text {
		text-align: center;
	}

	.footer-outer .footer-copyright {
		margin-top: 60px;
	}
}




@media (max-width: 375px) {
	.big-service {
		font-size: 60px;
	}

	.big-letter {
		font-size: 60px;
	}

	.big-quote {
		font-size: 60px;
	}

	.abt-pht-inner:after {
		width: 150px;
		height: 150px;
	}

	.about-nav-pills #nav-tab {
		flex-direction: column;
	}

	.about-nav-pills .nav-tabs .nav-link {
		margin-right: 0px;
		margin-bottom: 5px;
	}
	.cmn-bg-heading{
		font-size:15px !important;
	}
}

#directer-outer .custom-nav-btn {
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
}

	#directer-outer .custom-nav-btn .owl-prev {
		position: absolute;
		left: 100px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background: #fbf7f1;
		font-size: 20px;
		color: #000;
		border: none;
	}

		#directer-outer .custom-nav-btn .owl-prev:hover {
			background-color: #67b4bb;
			color: #fff;
		}

	#directer-outer .custom-nav-btn .owl-next {
		position: absolute;
		right: 100px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background: #fbf7f1;
		font-size: 20px;
		color: #000;
		border: none;
	}

		#directer-outer .custom-nav-btn .owl-next:hover {
			background-color: #67b4bb;
			color: #fff;
		}



#Gallery-outer .custom-nav-btn {
	position: initial;
	display: flex;
	justify-content: space-around;
}

	#Gallery-outer .custom-nav-btn .owl-prev {
		left: -100px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background: #fbf7f1;
		color: #FFF;
		font-size: 14px;
		display: inline-block;
		cursor: pointer;
		border-radius: 3px;
		border: none;
	}

		#Gallery-outer .custom-nav-btn .owl-prev:hover, #Gallery-outer .custom-nav-btn .owl-prev:hover i {
			background-color: #67b4bb;
			color: #fff !important;
		}

		#Gallery-outer .custom-nav-btn .owl-prev i {
			font-size: 20px;
			color: #000;
		}

	#Gallery-outer .custom-nav-btn .owl-next {
		left: -100px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background: #fbf7f1;
		color: #FFF;
		font-size: 14px;
		display: inline-block;
		cursor: pointer;
		border-radius: 3px;
		border: none;
	}

		#Gallery-outer .custom-nav-btn .owl-next:hover, #Gallery-outer .custom-nav-btn .owl-next:hover i {
			background-color: #67b4bb;
			color: #fff !important;
		}

		#Gallery-outer .custom-nav-btn .owl-next i {
			font-size: 20px;
			color: #000;
		}






#testimonial-inner .custom-nav-btn {
	position: initial;
	display: flex;
	justify-content: space-around;
}

	#testimonial-inner .custom-nav-btn .owl-prev {
		left: -100px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background: #fbf7f1;
		color: #FFF;
		font-size: 14px;
		display: inline-block;
		cursor: pointer;
		border-radius: 3px;
		border: none;
	}

		#testimonial-inner .custom-nav-btn .owl-prev:hover, #testimonial-inner .custom-nav-btn .owl-prev:hover i {
			background-color: #67b4bb;
			color: #fff !important;
		}

		#testimonial-inner .custom-nav-btn .owl-prev i {
			font-size: 20px;
			color: #000;
		}

	#testimonial-inner .custom-nav-btn .owl-next {
		left: -100px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		background: #fbf7f1;
		color: #FFF;
		font-size: 14px;
		display: inline-block;
		cursor: pointer;
		border-radius: 3px;
		border: none;
	}

		#testimonial-inner .custom-nav-btn .owl-next:hover, #testimonial-inner .custom-nav-btn .owl-next:hover i {
			background-color: #67b4bb;
			color: #fff !important;
		}

		#testimonial-inner .custom-nav-btn .owl-next i {
			font-size: 20px;
			color: #000;
		}


/*Change*/



.small-amount-card  input{
	display:none;
}
.small-amount-card .amout-card {
	background: #287d84 !important;
	cursor:pointer;
	width:100%;
	height:50px;
	color:#fff;
	border-radius:10px;
	text-align:center;
	line-height:50px;
}
.small-amount-card .amout-card p{
	font-size:20px;
	color:#fff;
}


.amount-label-input:checked + label {
	background: #000 !important;
}

.form-group input:checked + label{
	color: #2d8cf0;
}

.amount-label-input:checked + label {
	background: #960 !important;
}
.other-amount-input {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
	border: none !important;
	font-family: 'AvantGrade';
	border: 2px solid #287d84 !important;
}

.donation-checkbox {
	cursor: pointer;
	display:flex;
	align-items:top;
}

.donation-checkbox label{
	font-size: 14px;
	color: #555454;
}

.donation-checkbox input{
	margin-top:3px;
}

.m0s-card-img img{
	width:100%;
}