﻿@{
    ViewBag.Title = "Volunteer";
}


<!-- common banner section -->
<section class="desktop-banner">
    <div class="common-step-banner volunteer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-banner-content">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white">@(Gurupeedam.Resources.LanguageVolunteer.VOLUNTEERING)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile-banner" style="position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="step-banner-content pt-0" style="height:inherit !important;">
                    <img src="~/Content/asset/img/volunteer-page.png" alt="Alternate Text" />
                    <div class="custom-carousel-caption">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white" style="text-align:left;">@(Gurupeedam.Resources.LanguageVolunteer.VOLUNTEERING)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- common banner section -->
<!-- ready to volunteer -->
<section>
    <div class="v0nte-main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="v0nte-description">
                        <h2 class="cmn-bg-heading">@(Gurupeedam.Resources.LanguageVolunteer.READY_TO_VOLUNTEER_)</h2>
                        <p class="cmn-text">
                            @(Gurupeedam.Resources.LanguageVolunteer.Join_us_at_Gurupeedam_to_be_a_part_of_an_organization_that_serves_to_the_humans__There_are_many_opportunities_to_volunteer_with_us_to_build_your_self_confidence_and_gain_valuable_experience_including_taking_care_of_animals__planting_trees__packing_care_packages_for_individuals_in_need__working_with_experienced_valuable_individuals__EVIs___serving_the_nations__etc_)
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="v0nte-images">
                        <img src="~/Content/asset/img/volunteer-bg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ready to volunteer -->
<!-- contact form -->
<section>
    <div class="v0nte-contact-form">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-8">
                    <div class="V0nter-form-inner">
                        <h4 class="cmn-title mn-colour">@(Gurupeedam.Resources.LanguageVolunteer.START_VOLUNTEERING)</h4>
                        <h2 class="cmn-bg-heading">@(Gurupeedam.Resources.LanguageVolunteer.Fill_out_this_Form)</h2>
                        <p class="cmn-text">@(Gurupeedam.Resources.LanguageVolunteer.If_you_are_interested_in_volunteering_at_Gurupeedam__kindly_fill_in_the_Volunteer_Intake_Form_below_and_a_member_of_Gurupeedam_will_be_in_touch_to_discuss_further_with_you__Looking_forward_to_hearing_from_you_)</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 justify-content-center">

                    <!-- form starts here -->
                    <form id="volunteering_form" name="volunteering_form">
                        <div class="v0nte-menu c0ntact-menu">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="text" placeholder="First Name" id="volunteering_fname" name="volunteering_fname">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="text" placeholder="Last Name" id="volunteering_lname" name="volunteering_lname">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="email" placeholder="Email Address" id="volunteering_email" name="volunteering_email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-b0x">
                                        <input type="text" placeholder="Phone Number" id="volunteering_number" name="volunteering_number">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="input-b0x">
                                        <textarea class="cmn-textarea address-textarea" cols="30" rows="10" placeholder="Address" id="volunteering_address" name="volunteering_address"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="input-b0x">
                                        <input type="text" placeholder="How did you hear about us?" id="volunteering_Select" name="volunteering_Select">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="input-b0x">
                                        <textarea class="cmn-textarea feedback-textarea" cols="30" rows="10" placeholder="Tell us of what types of service you are interested in..." id="volunteering_feedback" name="volunteering_feedback"></textarea>
                                    </div>
                                    <div class="submit-bx">
                                        @*<input type="submit" value="SUBMIT">*@
                                        <button class="btn-submit" type="submit" name="submit" id="send_button">@(Gurupeedam.Resources.LanguageVolunteer.SUBMIT)</button>
                                        <button class="btn-submit" type="button" name="button" id="sending_button" disabled style="display:none;">
                                            <span>
                                                <i class="info-icon fa fa-spinner fa-spin"></i>
                                            </span>
                                            @(Gurupeedam.Resources.LanguageVolunteer.SUBMITING)
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- form ends here -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

<script>
    //volunteering jquery validation
    $("#volunteering_form").validate({
        rules: {
            volunteering_fname: {
                required: true
            },
            volunteering_lname: {
                required: true
            },
            volunteering_email: {
                required: true,
                email: true
            },
            volunteering_number: {
                required: true,
            },
            volunteering_address: {
                required: true
            },
            volunteering_Select: {
                required: true
            },
            volunteering_feedback: {
                required: true
            },
        },
        messages: {
            volunteering_fname: "First name is required",
            volunteering_lname: "Last name is required",
            volunteering_email: {
                required: "Email is required"
            },
            volunteering_number: {
                required: "Phone number is required"
            },
            volunteering_address: "address is required",
            volunteering_Select: "How did you hear about us is required",
            volunteering_feedback: "Feedback is required",
        },
        errorPlacement: function (error, element) {
            if (element.is(":radio")) {
                error.appendTo(element.parents('.form-group'));
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function (form) {
            Volunteering();
        }
    });

    //volunteering form data ajax call
    function Volunteering() {

        $('#send_button').hide();
        $('#sending_button').show();

        $.ajax({
            type: 'POST',
            url: "@Url.Action("VolunteerSend", "Volunteer")",
            dataType: 'json',
            data: ({
                volunteering_fname: $("#volunteering_fname").val(),
                volunteering_lname: $("#volunteering_lname").val(),
                volunteering_email: $("#volunteering_email").val(),
                volunteering_number: $("#volunteering_number").val(),
                volunteering_address: $("#volunteering_address").val(),
                volunteering_Select: $("#volunteering_Select").val(),
                volunteering_feedback: $("#volunteering_feedback").val(),

            }),
            success: function (response) {
                debugger;

                $("#volunteering_fname").val('');
                $("#volunteering_lname").val('');
                $("#volunteering_email").val('');
                $("#volunteering_number").val('');
                $("#volunteering_address").val('');
                $("#volunteering_Select").val('');
                $("#volunteering_feedback").val('');

                if (response == 200) {
                   Swal.fire({
                        title: 'Thank you for your interest in volunteering at Gurupeedam. We value your interest and will get back to you shortly.',
                        timer: 4000,
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        }
                    })
                    //setTimeout(function () { window.location.reload(); }, 4000);
                } else {
                    alert('Data Not Inserted');
                }
                $('#send_button').show();
                $('#sending_button').hide();
            },
            error: function (response) {
                console.log(response);
                $('#send_button').show();
                $('#sending_button').hide();
            }
        });
    }

</script>