﻿@{
    ViewBag.Title = "Mind Opening Sessions";
}


<!-- common banner section -->
<section>
    <div class="common-step-banner mind-opening-sessions">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-banner-content">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white">MIND OPENING SESSIONS</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- common banner section -->
<!--  mind opening sessions -->
<section>
    <div class="m0s-outer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="m0s-card-img">
                        <img src="~/Content/asset/img/Layer-562.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="m0s-right">
                        <div class="m0s-desc">
                            <span class="prgm-btn">Program</span>
                            <h4 class="m0s-title">mind opening sessions</h4>
                        </div>
                        <div class="m0s-btm-sec">
                            <div class="row g-0 justify-content-center">
                                <div class="col-sm-12">
                                    <span class="age-cat">AGE CATEGORIES</span>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="m0s-small-cards">
                                        <img class="age-card-img" src="~/Content/asset/img/share.png" alt="">
                                        <span class="group-numr">Group 1</span>
                                        <span class="group-age">AGES<br>18 - 22</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="m0s-small-cards">
                                        <img class="age-card-img" src="~/Content/asset/img/share.png" alt="">
                                        <span class="group-numr">Group 2</span>
                                        <span class="group-age">AGES<br>22 - 30</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="m0s-small-cards">
                                        <img class="age-card-img" src="~/Content/asset/img/share.png" alt="">
                                        <span class="group-numr">Group 3</span>
                                        <span class="group-age">AGES<br>30 - 40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  mind opening sessions -->
<!-- mind-sessions nav pills -->
<section>
    <div class="mind-sessions-nav-outer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mind-sessions-pills-inner">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about" type="button" role="tab" aria-controls="nav-about" aria-selected="true">About Program</button>
                                <button class="nav-link" id="nav-cost-tab" data-bs-toggle="tab" data-bs-target="#nav-cost" type="button" role="tab" aria-controls="nav-cost" aria-selected="false">Cost</button>
                                <button class="nav-link" id="nav-transformation-tab" data-bs-toggle="tab" data-bs-target="#nav-transformation" type="button" role="tab" aria-controls="nav-transformation" aria-selected="false">Transformation</button>
                                <button class="nav-link" id="nav-application-tab" data-bs-toggle="tab" data-bs-target="#nav-application" type="button" role="tab" aria-controls="nav-application" aria-selected="false">Application & Intake Process</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <div class="mind-pills-content">
                                    <p class="cmn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate sed mauris vitae pellentesque. Nunc ut ullamcorper libero. Aenean fringilla mauris quis risus laoreet interdum. Quisque imperdiet orci in metus aliquam egestas. Fusce elit libero, imperdiet nec orci quis, convallis hendrerit nisl. Cras auctor nec purus at placerat.</p>
                                    <div class="mind-list">
                                        <ul>
                                            <li>
                                                Nsectetur cing mauris quis risus laoreet elit.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                Suspe ndisse dolor sit amet suscipit sagittis leo.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                Entum estibulum metus aliquam egestas dignissim posuere.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                If you are going to use a auctor nec purus passage.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                Lorem Ipsum on the tend to repeat.
                                                <i class="fas fa-check"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mind-pills-bg">
                                        <img src="~/Content/asset/img/Layer-567.png" alt="">
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title">Mind Opening Sessions</h4>
                                            <p class="cmn-text">Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollic tudin, lorem is simply free text quis bibendum.</p>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title">The Perfect Power Boost When you need it</h4>
                                            <p class="cmn-text">Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollic tudin, lorem is simply free text quis bibendum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-cost" role="tabpanel" aria-labelledby="nav-cost-tab">
                                <div class="mind-pills-content">
                                    <p class="cmn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate sed mauris vitae pellentesque. Nunc ut ullamcorper libero. Aenean fringilla mauris quis risus laoreet interdum. Quisque imperdiet orci in metus aliquam egestas. Fusce elit libero, imperdiet nec orci quis, convallis hendrerit nisl. Cras auctor nec purus at placerat.</p>
                                    <div class="mind-list">
                                        <ul>
                                            <li>
                                                Nsectetur cing mauris quis risus laoreet elit.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                Suspe ndisse dolor sit amet suscipit sagittis leo.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                Entum estibulum metus aliquam egestas dignissim posuere.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                If you are going to use a auctor nec purus passage.
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                Lorem Ipsum on the tend to repeat.
                                                <i class="fas fa-check"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mind-pills-bg">
                                        <img src="~/Content/asset/img/Layer-554.png" alt="">
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title">Mind Opening Sessions</h4>
                                            <p class="cmn-text">Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollic tudin, lorem is simply free text quis bibendum.</p>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title">The Perfect Power Boost When you need it</h4>
                                            <p class="cmn-text">Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollic tudin, lorem is simply free text quis bibendum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-transformation" role="tabpanel" aria-labelledby="nav-transformation-tab">...3</div>
                            <div class="tab-pane fade" id="nav-application" role="tabpanel" aria-labelledby="nav-application-tab">..4.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- mind-sessions nav pills -->
<!-- our programs slider -->
<section>
    <div class="progrm-outer m0s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="prgrm-inner">
                        <h4 class="cmn-title colour-white">GURUPEEDAM</h4>
                        <h2 class="cmn-bg-heading colour-white">OUR PROGRAMS</h2>
                        <div class="program-navi">
                            <div id="owl-carousel" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="crd-slide">
                                        <div class="img-bx">
                                            <img class="slide-img" src="~/Content/asset/img/sld-img.png">
                                        </div>
                                        <div class="btm-section">
                                            <h4 class="sldr-title">Mind Opening Sessions</h4>
                                            <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                            <a class="slider-btn" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="crd-slide">
                                        <div class="img-bx">
                                            <img class="slide-img" src="~/Content/asset/img/sld-img2.png">
                                        </div>
                                        <div class="btm-section">
                                            <h4 class="sldr-title">Seminars</h4>
                                            <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                            <a class="slider-btn" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="crd-slide">
                                        <div class="img-bx">
                                            <img class="slide-img" src="~/Content/asset/img/sld-img3.png">
                                        </div>
                                        <div class="btm-section">
                                            <h4 class="sldr-title">Animal Care </h4>
                                            <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                            <a class="slider-btn" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="crd-slide">
                                        <div class="img-bx">
                                            <img class="slide-img" src="~/Content/asset/img/sld-img.png">
                                        </div>
                                        <div class="btm-section">
                                            <h4 class="sldr-title">Mind Opening Sessions</h4>
                                            <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                            <a class="slider-btn" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="crd-slide">
                                        <div class="img-bx">
                                            <img class="slide-img" src="~/Content/asset/img/sld-img2.png">
                                        </div>
                                        <div class="btm-section">
                                            <h4 class="sldr-title">Our Intent</h4>
                                            <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                            <a class="slider-btn" href="#">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flower-left">
                            <img src="~/Content/asset/img/flower-left.png" alt="">
                        </div>
                        <div class="flower-right">
                            <img src="~/Content/asset/img/flower-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our programs slider -->
