﻿@{
    ViewBag.Title = "Animal Care";
}

<style>
    .animalcare-list li{
        position:relative;
    }
        .animalcare-list li:before {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            background: #838694;
            border-radius: 50px;
            left: -2%;
            top: 35%;
        }

    @@media(max-width:425px) {
        .animalcare-list li:before {
            left: -8%;
        }
    }

</style>

<!-- common banner section -->
<section class="desktop-banner">
    <div class="animalcare-Banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-banner-content">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white">@(Gurupeedam.Resources.LanguageAnimalCare.Animal_Care)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile-banner" style="position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="step-banner-content pt-0" style="height:inherit !important;">
                    <img src="~/Content/asset/img/Banners/AnimalCare.jpg" alt="Alternate Text" />
                    <div class="custom-carousel-caption">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white" style="text-align:left;">@(Gurupeedam.Resources.LanguageAnimalCare.Animal_Care)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- common banner section -->
<!--  mind opening sessions -->
<section class="m0s-outer p-0 pt-5">
    <div class="container">
        <div class="mind-sessions-nav-outer bg-transparent p-0">
            <nav class="">
                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-canada-tab" data-bs-toggle="tab" data-bs-target="#nav-canada" type="button" role="tab" aria-controls="nav-canada" aria-selected="true">@(Gurupeedam.Resources.LanguagePrograms.Canada)</button>
                    <button class="nav-link" id="nav-UK-tab" data-bs-toggle="tab" data-bs-target="#nav-UK" type="button" role="tab" aria-controls="nav-cost" aria-selected="false">@(Gurupeedam.Resources.LanguagePrograms.UK)</button>
                </div>
            </nav>
        </div>
    </div>
    
</section>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-canada" role="tabpanel" aria-labelledby="nav-canada-tab">
        <section>
            <div class="m0s-outer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="m0s-card-img">
                                <img src="~/Content/asset/img/animalimagesindividual/AnimalCare4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="m0s-right">
                                <div class="m0s-desc">
                                    <h4 class="m0s-title">@(Gurupeedam.Resources.LanguageAnimalCare.Animal_Care)</h4>
                                    <p class="cmn-text mt-2 mb-0">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_Content_1)</p>
                                    <p class="cmn-text mt-2 mb-0">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_Content_3)</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="m0s-desc">
                            <p class="cmn-text mt-2 mb-0">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_Content_4)</p>
                            <p class="cmn-text mt-2 mb-0">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_Content_5)</p>

                            <b class="cmn-text mt-2" style="letter-spacing:1px;color: #287d83;">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_Content_2)</b>
                            <ul style="padding-left:30px !important;" class="animalcare-list">
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_1)</li>
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_2)</li>
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_3)</li>
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_4)</li>
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_5)</li>
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_6)</li>
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_7)</li>
                                <li class="cmn-text mt-2 d-block">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_8)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  mind opening sessions -->
        <!-- mind-sessions nav pills -->
        <section>
            <div class="mind-sessions-nav-outer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mind-sessions-pills-inner">
                                @*<div class="mind-list mt-0">
                                    <ul>
                                        <li>
                                            @(Gurupeedam.Resources.LanguageAnimalCare.Nsectetur_cing_mauris_quis_risus_laoreet_elit_)
                                            <i class="fas fa-check"></i>
                                        </li>
                                        <li>
                                            @(Gurupeedam.Resources.LanguageAnimalCare.Suspe_ndisse_dolor_sit_amet_suscipit_sagittis_leo_)
                                            <i class="fas fa-check"></i>
                                        </li>
                                        <li>
                                            @(Gurupeedam.Resources.LanguageAnimalCare.Entum_estibulum_metus_aliquam_egestas_dignissim_posuere_)
                                            <i class="fas fa-check"></i>
                                        </li>
                                        <li>
                                            @(Gurupeedam.Resources.LanguageAnimalCare.If_you_are_going_to_use_a_auctor_nec_purus_passage_)
                                            <i class="fas fa-check"></i>
                                        </li>
                                    </ul>
                                </div>*@
                                <div class="mt-4 row">
                                    <div class="col-lg-4">
                                        <img class="w-100 image-crop-size" src="~/Content/asset/img/animalimagesindividual/AnimalCare3.jpg" alt="" style="height: 267px;object-fit:cover;">
                                    </div>
                                    <div class="col-lg-4">
                                        <img class="w-100 image-crop-size" src="~/Content/asset/img/animalimagesindividual/AnimalCare2.jpg" alt="" style="height: 267px;object-fit:cover;">
                                    </div>
                                    <div class="col-lg-4">
                                        <img class="w-100 image-crop-size" src="~/Content/asset/img/animalimagesindividual/AnimalCare5.jpg" alt="" style="height: 267px;object-fit:cover;">
                                    </div>
                                </div>

                                @*<div class="mt-4">
                                    <p class="cmn-title mt-2 mb-0" style="letter-spacing:1px;color: #287d83;">@(Gurupeedam.Resources.LanguagePrograms.Animal_Care_Content_2)</p>

                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_1)</h4>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_2)</h4>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_3)</h4>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_4)</h4>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_5)</h4>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_6)</h4>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_7)</h4>
                                        </div>
                                    </div>
                                    <div class="mind-bx">
                                        <div class="mind-img-bx">
                                            <img src="~/Content/asset/img/1828710.png" alt="">
                                        </div>
                                        <div class="mind-details">
                                            <h4 class="cmn-title mb-0"> @(Gurupeedam.Resources.LanguagePrograms.Animal_Care_List_8)</h4>
                                        </div>
                                    </div>
                                </div>*@


                                @*<div class="tab-content" id="nav-tabContent"></div>
                                        <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="tab-pane" id="nav-UK" role="tabpanel" aria-labelledby="nav-UK-tab">
        <section>
            <div class="m0s-outer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <p class="cmn-text" style="font-style: italic;">Gurupeedam is expanding our programs and services globally - please stay tuned for more updates!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- mind-sessions nav pills -->
<!-- our programs slider -->
@*<section>
        <div class="progrm-outer m0s">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="prgrm-inner">
                            <h4 class="cmn-title colour-white">GURUPEEDAM</h4>
                            <h2 class="cmn-bg-heading colour-white">OUR PROGRAMS</h2>
                            <div class="program-navi">
                                <div id="owl-carousel" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="crd-slide">
                                            <div class="img-bx">
                                                <img class="slide-img" src="~/Content/asset/img/sld-img.png">
                                            </div>
                                            <div class="btm-section">
                                                <h4 class="sldr-title">Mind Opening Sessions</h4>
                                                <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                                <a class="slider-btn" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="crd-slide">
                                            <div class="img-bx">
                                                <img class="slide-img" src="~/Content/asset/img/sld-img2.png">
                                            </div>
                                            <div class="btm-section">
                                                <h4 class="sldr-title">Seminars</h4>
                                                <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                                <a class="slider-btn" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="crd-slide">
                                            <div class="img-bx">
                                                <img class="slide-img" src="~/Content/asset/img/sld-img3.png">
                                            </div>
                                            <div class="btm-section">
                                                <h4 class="sldr-title">Animal Care </h4>
                                                <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                                <a class="slider-btn" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="crd-slide">
                                            <div class="img-bx">
                                                <img class="slide-img" src="~/Content/asset/img/sld-img.png">
                                            </div>
                                            <div class="btm-section">
                                                <h4 class="sldr-title">Mind Opening Sessions</h4>
                                                <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                                <a class="slider-btn" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="crd-slide">
                                            <div class="img-bx">
                                                <img class="slide-img" src="~/Content/asset/img/sld-img2.png">
                                            </div>
                                            <div class="btm-section">
                                                <h4 class="sldr-title">Our Intent</h4>
                                                <p class="cmn-text">Lorem ipsum dolor sit amet,Ut enim ad minim veniam,</p>
                                                <a class="slider-btn" href="#">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-theme">
                                    <div class="owl-controls">
                                        <div class="custom-nav owl-nav"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="flower-left">
                                <img src="~/Content/asset/img/flower-left.png" alt="">
                            </div>
                            <div class="flower-right">
                                <img src="~/Content/asset/img/flower-right.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- our programs slider -->
