﻿@{
    ViewBag.Title = "About Us";
}


<!-- common banner section -->
<section class="desktop-banner">
    <div class="common-step-banner about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-banner-content">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white">@(Gurupeedam.Resources.LanguageAbout.About_Us)</h4>
                        @*<nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile-banner" style="position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="step-banner-content pt-0" style="height:inherit !important;">
                    <img src="~/Content/asset/img/Layer-554.png" alt="Alternate Text" />
                    <div class="custom-carousel-caption">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white" style="text-align:left;">@(Gurupeedam.Resources.LanguageAbout.About_Us)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- common banner section -->
<!-- What is gurupeedam -->
<section>
    <div class="v0nte-main about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="v0nte-description">
                        <h4 class="cmn-title mn-colour">@(Gurupeedam.Resources.LanguageAbout.INTRODUCTION)</h4>
                        <h2 class="cmn-bg-heading">@(Gurupeedam.Resources.LanguageAbout.WHAT_IS_GURUPEEDAM_)</h2>
                        <p class="cmn-text">@(Gurupeedam.Resources.LanguageAbout.WHAT_IS_GURUPEEDAM_CONTENT_1)</p>
                        <p class="cmn-text mt-3">@(Gurupeedam.Resources.LanguageAbout.WHAT_IS_GURUPEEDAM_CONTENT_2)</p>
                        <p class="cmn-text mt-3">@(Gurupeedam.Resources.LanguageAbout.WHAT_IS_GURUPEEDAM_CONTENT_3)</p>
                        <p class="cmn-text mt-3">@(Gurupeedam.Resources.LanguageAbout.WHAT_IS_GURUPEEDAM_CONTENT_4)</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="v0nte-images">
                        <img src="~/Content/asset/img/Layerabout-us.png" alt="">
                        <div class="bottom-position-bx">
                            <h4 class="cmn-title colour-white">@(Gurupeedam.Resources.LanguageAbout.Incorporated)</h4>
                            <span class="about-year">2017</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- What is gurupeedam -->
<!-- nav and pills -->
<section>
    <div class="about-nav-pills">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            @*<button class="nav-link active" id="nav-values-tab" data-bs-toggle="tab" data-bs-target="#nav-values" type="button" role="tab" aria-controls="nav-values" aria-selected="false">
                                @(Gurupeedam.Resources.LanguageAbout.CORE_VALUES)
                            </button>*@
                            <button class="nav-link active" id="nav-intent-tab" data-bs-toggle="tab" data-bs-target="#nav-intent" type="button" role="tab" aria-controls="nav-intent" aria-selected="true">
                                @(Gurupeedam.Resources.LanguageAbout.OUR_INTENT)
                            </button>
                            <button class="nav-link" id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission" aria-selected="false">
                                @(Gurupeedam.Resources.LanguageAbout.OUR_MISSION)
                            </button>
                            
                        </div>
                    </nav>

                    <!-- nav pills content -->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade  " id="nav-values" role="tabpanel" aria-labelledby="nav-values-tab">
                            <div class="about-pills-content">
                                <div class="abtuS-wrap">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="abt-pht-outer">
                                                <div class="abt-pht-inner about">
                                                    <img class="top-img" src="https://images.pexels.com/photos/45842/clasped-hands-comfort-hands-people-45842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="about-pills-description">
                                                <p class="cmn-text mb-0 mn-colour ff-Pacifico">@(Gurupeedam.Resources.LanguageAbout.Acceptance)</p> <br />
                                                <p class="cmn-text mt-2 mn-colour ff-Poppins">@(Gurupeedam.Resources.LanguageAbout.Forgiveness)</p> <br />
                                                <p class="cmn-text mt-2 mn-colour ff-Cookie" style="font-size:30px;">@(Gurupeedam.Resources.LanguageAbout.Respect)</p> <br />
                                                <p class="cmn-text mt-2 mn-colour ff-Pathway" style="font-size:25px;">@(Gurupeedam.Resources.LanguageAbout.Faith)</p> <br />
                                                <p class="cmn-text mt-2 mn-colour ff-Yrsa" style="font-size:25px;">@(Gurupeedam.Resources.LanguageAbout.Listening)</p> <br />
                                                <p class="cmn-text mt-2 mn-colour ff-ReemKufi" style="font-size:25px;">@(Gurupeedam.Resources.LanguageAbout.Honesty)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="nav-intent" role="tabpanel" aria-labelledby="nav-intent-tab">
                            <div class="about-pills-content">
                                <div class="abtuS-wrap">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="abt-pht-outer">
                                                <div class="abt-pht-inner about">
                                                    <img class="top-img" src="~/Content/asset/img/abtusimg.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="about-pills-description">
                                                <p class="cmn-text">
                                                    @(Gurupeedam.Resources.LanguageAbout.OUR_INTENT_CONTENT)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                            <div class="about-pills-content">
                                <div class="abtuS-wrap">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="abt-pht-outer">
                                                <div class="abt-pht-inner about">
                                                    <img class="top-img" src="https://images.pexels.com/photos/2302908/pexels-photo-2302908.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="about-pills-description">
                                                <p class="cmn-text">
                                                    @(Gurupeedam.Resources.LanguageAbout.OUR_MISSION_CONTENT)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- nav and pills -->
<!-- board of director slider -->
<section id="hod-directer-outer">
    <div class="progrm-outer">
        <div class="container">
            <div class="row m-0">
                <div class="col-md-12">
                    <div class="prgrm-inner board-of-directors">
                        <h4 class="cmn-title mn-colour">@(Gurupeedam.Resources.LanguageAbout.GURUPEEDAM)</h4>
                        <h2 class="cmn-bg-heading">@(Gurupeedam.Resources.LanguageAbout.BOARD_OF_DIRECTORS)</h2>
                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <div class="crd-slide row">
                                    <div class="img-bx col-lg-4 col-12 p-0">
                                        <img class="slide-img" src="~/Content/asset/img/BoardOfDirectorsV2/1_Mangai_Vimalendran.jpg">
                                    </div>
                                    <div class="hod-bottom col-lg-8 p-3">
                                        <h6 class="hodname c-text-left">@(Gurupeedam.Resources.LanguageAbout.MANGAI_VIMALENDRAN)</h6>
                                        <span class="hodrole c-text-left w-100">@(Gurupeedam.Resources.LanguageAbout.President)</span>
                                        <span class="line"></span>
                                        <p class="cmn-text c-text-left">
                                            @(Gurupeedam.Resources.LanguageAbout.MANGAI_VIMALENDRAN_CONTENT)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="crd-slide row">
                                    <div class="img-bx col-lg-4 p-0">
                                        <img class="slide-img" src="~/Content/asset/img/BoardOfDirectorsV2/2_Mohan_Puvimanasinghe.jpg">
                                    </div>
                                    <div class="hod-bottom col-lg-8 p-3">
                                        <h6 class="hodname c-text-left">@(Gurupeedam.Resources.LanguageAbout.MOHAN_PUVIMANASINGHE)</h6>
                                        <span class="hodrole c-text-left w-100">@(Gurupeedam.Resources.LanguageAbout.Secretary)</span>
                                        <span class="line"></span>
                                        <p class="cmn-text c-text-left">
                                            @(Gurupeedam.Resources.LanguageAbout.MOHAN_PUVIMANASINGHE_CONTENT)
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="crd-slide row">
                                    <div class="img-bx col-lg-4 p-0">
                                        <img class="slide-img" src="~/Content/asset/img/BoardOfDirectorsV2/3_Thanusga_Kugathasan.jpg">
                                    </div>
                                    <div class="hod-bottom col-lg-8 p-3">
                                        <h6 class="hodname c-text-left">@(Gurupeedam.Resources.LanguageAbout.THANUSGA_KUGATHASAN)</h6>
                                        <span class="hodrole c-text-left w-100">@(Gurupeedam.Resources.LanguageAbout.Treasurer)</span>
                                        <span class="line"></span>
                                        <p class="cmn-text c-text-left">
                                            @(Gurupeedam.Resources.LanguageAbout.THANUSGA_KUGATHASAN_CONTENT)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="crd-slide row">
                                    <div class="img-bx col-lg-4 p-0">
                                        <img class="slide-img" src="~/Content/asset/img/BoardOfDirectorsV2/5_Brian_Croos.jpg">
                                    </div>
                                    <div class="hod-bottom col-lg-8 p-3">
                                        <h6 class="hodname c-text-left">@(Gurupeedam.Resources.LanguageAbout.SHOABANA_KUGATHASAN)</h6>
                                        <span class="hodrole c-text-left w-100">@(Gurupeedam.Resources.LanguageAbout.Director)</span>
                                        <span class="line"></span>
                                        <p class="cmn-text c-text-left">
                                            @(Gurupeedam.Resources.LanguageAbout.SHOABANA_KUGATHASAN_CONTENT)
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="crd-slide row">
                                    <div class="img-bx col-lg-4 p-0">
                                        <img class="slide-img" src="~/Content/asset/img/BoardOfDirectorsV2/4_Shoabana_Kugathasan.jpg">
                                    </div>
                                    <div class="hod-bottom col-lg-8 p-3">
                                        <h6 class="hodname c-text-left">@(Gurupeedam.Resources.LanguageAbout.BRIAN_CROOS)</h6>
                                        <span class="hodrole c-text-left w-100">@(Gurupeedam.Resources.LanguageAbout.Director)</span>
                                        <span class="line"></span>
                                        <p class="cmn-text c-text-left">
                                            @(Gurupeedam.Resources.LanguageAbout.BRIAN_CROOS_CONTENT)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav-btn owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- board of director slider -->