﻿@{
    ViewBag.Title = "Transaction Success";
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title :: Gurupeedam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        .LanSelect {
            padding: 5px;
            border: 2px solid #000;
            font-size: 16px;
            font-family: 'AvantGrade';
            text-transform: capitalize;
            font-weight: 100;
            color: #838694;
            border-radius: 5px;
        }

        .anc-tag {
            color: #0d6efd;
            text-decoration: none;
        }

        .custom-carousel-caption {
            position: absolute;
            top: 40% !important;
            left: 15px !important;
            color: #fff;
            right: 0;
            padding-top: 0;
            padding-bottom: 0;
            bottom: 0;
            text-align: center;
        }

        .mobile-banner {
            display: none;
        }

            .mobile-banner .step-banner-content:before {
                position: absolute;
                content: "";
                background: #0000004f;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

        .btn-submit {
            font-size: 17px;
            font-family: 'AvantGrade';
            font-weight: 400;
            letter-spacing: 2px;
            color: #fff;
            text-decoration: none;
            padding: 15px 30px;
            background: #287d84;
            border-radius: 30px;
            display: inline-block;
            text-transform: uppercase;
            border: none;
            margin-top: 40px;
        }

        .error {
            color: red;
        }

        .banner-video-area {
            display: flex;
            justify-content: center;
        }

            .banner-video-area video {
                width: 60%;
            }

        .h-truncate-50 {
            height: 50px;
            overflow: hidden;
        }

        .h-truncate-60 {
            height: 60px;
            overflow: hidden;
        }

        .h-truncate-70 {
            height: 70px;
            overflow: hidden;
        }

        @@media only screen and (max-width: 425px) {
            .mobile-banner {
                display: block;
            }

            .desktop-banner {
                display: none;
            }

            .banner-video-area video {
                width: 100%;
            }
        }

        .Quotes-monial-outer {
            padding: 0 0 60px 0;
        }

        .height-130 {
            height: 130px !important;
            overflow: hidden;
        }

        #testimonial-carousel .owl-dots {
            margin-top: 0 !important;
        }

        .inputbutton-label {
            background: #fff;
            border-radius: 0px;
            border: 0;
            padding: 25px 15px;
            color: #838694;
            font-size: 16px;
            text-transform: capitalize;
            font-family: 'AvantGrade';
            font-weight: 100;
            letter-spacing: 1px;
            cursor: pointer;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .payment-success{
            position:relative;
            height:100vh;
            display:flex;
        }
        .thankyou-icon{
            width:20%;
        }
        @@media(max-width:425px) {
            .thankyou-icon {
                width: 50%;
            }
        }

    </style>
</head>
<body>

    <div class="container">
        <div class="row text-center align-items-center payment-success">
            <div class="col-lg-12">
                <div class="transaction-area">
                    <img src="~/Content/asset/img/thankyou.png" class="mb-4 thankyou-icon"/>
                    <h2 class="cmn-title mn-colour d-block">@(Gurupeedam.Resources.LanguageDonate.Your_Payment_is_Successful).</h2>
                    <p class="cmn-text d-block">@(Gurupeedam.Resources.LanguageDonate.Thank_you_for_your_payment)</p>
                    <a href="@Url.Action("Index","Home")" class="btn-submit mt-2 text-white">@(Gurupeedam.Resources.LanguageDonate.Back_to_Home)</a>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <script src="~/Content/asset/js/script.js"></script>
    <script src="~/Content/asset/js/bootstrap.min.js"></script>
    <script src="~/Content/asset/js/jquery.min.js"></script>
    <script src="~/Content/asset/js/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
</body>
</html>