﻿@{
    ViewBag.Title = "Guidance Session for Humanity";
}



<!-- common banner section -->
<section class="desktop-banner">
    <div class="guidancesession-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-banner-content">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white">@(Gurupeedam.Resources.LanguageServices.Guidance_Session_for_Humanity)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile-banner" style="position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="step-banner-content pt-0" style="height:inherit !important;">
                    <img src="~/Content/asset/img/Banners/GuidanceforHumanity.jpg" alt="Alternate Text" />
                    <div class="custom-carousel-caption">
                        <h4 data-aos="fade-left" class="cmn-bg-heading colour-white" style="text-align:left;">@(Gurupeedam.Resources.LanguageServices.Guidance_Session_for_Humanity)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- common banner section -->
<!--  hand to hand -->
<section class="m0s-outer p-0 pt-5">
    <div class="container">
        <div class="mind-sessions-nav-outer bg-transparent p-0">
            <nav class="">
                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-canada-tab" data-bs-toggle="tab" data-bs-target="#nav-canada" type="button" role="tab" aria-controls="nav-canada" aria-selected="true">@(Gurupeedam.Resources.LanguagePrograms.Canada)</button>
                    <button class="nav-link" id="nav-UK-tab" data-bs-toggle="tab" data-bs-target="#nav-UK" type="button" role="tab" aria-controls="nav-cost" aria-selected="false">@(Gurupeedam.Resources.LanguagePrograms.UK)</button>
                </div>
            </nav>
        </div>
    </div>
</section>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-canada" role="tabpanel" aria-labelledby="nav-canada-tab">
        <section>
            <div class="m0s-outer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="m0s-card-img">
                                <img src="~/Content/asset/img/FinelSet/Guidance for Humanity _Main.jpeg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="m0s-right">
                                <div class="m0s-desc">
                                    <h4 class="m0s-title">@(Gurupeedam.Resources.LanguageServices.Guidance_Session_for_Humanity)</h4>
                                </div>
                                <div class="m0s-btm-sec">
                                    <p class="cmn-text">
                                        @(Gurupeedam.Resources.LanguageServices.Guidance_Session_for_Humanity_Content_1)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  mind opening sessions -->
        <!-- hand to hand nav pills -->

        <section>
            <div class="mind-sessions-nav-outer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mind-sessions-pills-inner">
                                <div class="mind-pills-content pt-0">
                                    @*<p class="cmn-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate sed mauris vitae pellentesque. Nunc ut ullamcorper libero. Aenean fringilla mauris quis risus laoreet interdum. Quisque imperdiet orci in metus aliquam egestas. Fusce elit libero, imperdiet nec orci quis, convallis hendrerit nisl. Cras auctor nec purus at placerat.</p>*@
                                    <!--<div class="mind-list mt-0">
                                        <ul>
                                            <li>
                                                @(Gurupeedam.Resources.LanguageServices.Nsectetur_cing_mauris_quis_risus_laoreet_elit_)
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                @(Gurupeedam.Resources.LanguageServices.Suspe_ndisse_dolor_sit_amet_suscipit_sagittis_leo_)
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                @(Gurupeedam.Resources.LanguageServices.Entum_estibulum_metus_aliquam_egestas_dignissim_posuere_)
                                                <i class="fas fa-check"></i>
                                            </li>
                                            <li>
                                                @(Gurupeedam.Resources.LanguageServices.If_you_are_going_to_use_a_auctor_nec_purus_passage_)
                                                <i class="fas fa-check"></i>
                                            </li>-->
                                            @*<li>
                                                    Lorem Ipsum on the tend to repeat.
                                                    <i class="fas fa-check"></i>
                                                </li>*@
                                        <!--</ul>
                                    </div>-->
                                     <div class="mt-4 row">
                                         <div class="col-lg-4">
                                             <img class="w-100 image-crop-size" src="~/Content/asset/img/FinelSet/Guidance for Humanity 1.jpg" alt="">
                                         </div>
                                        <div class="col-lg-4">
                                            <img class="w-100 image-crop-size" src="~/Content/asset/img/FinelSet/Guidance for Humanity 2.jpg" alt="">                                        
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="w-100 image-crop-size" src="~/Content/asset/img/FinelSet/Guidance for Humanity 3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                @*<div class="tab-content" id="nav-tabContent"></div>
                                        <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="tab-pane" id="nav-UK" role="tabpanel" aria-labelledby="nav-UK-tab">
        <section>
            <div class="m0s-outer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <p class="cmn-text" style="font-style: italic;">Gurupeedam is expanding our programs and services globally - please stay tuned for more updates!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- hand to hand nav pills -->
<!-- contact form -->
<!--<section>
    <div class="v0nte-contact-form">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-8">
                    <div class="V0nter-form-inner">
                        <h4 class="cmn-title mn-colour">HAND TO HAND</h4>
                        <h2 class="cmn-bg-heading">BOOK AN APPOINTMENT</h2>
                        <p class="cmn-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 justify-content-center">

                    <!-- form starts here -->
<!--@*<form>
    <div class="v0nte-menu c0ntact-menu">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="input-b0x">
                    <input type="text" placeholder="First Name" name="name">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="input-b0x">
                    <input type="text" placeholder="Last Name" name="lname">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="input-b0x">
                    <input type="email" placeholder="Email Address" name="email">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="input-b0x">
                    <input type="text" placeholder="Phone Number" name="number">
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="input-b0x">
                    <textarea class="cmn-textarea feedback-textarea" cols="30" rows="10" placeholder="Write Message" name="address"></textarea>
                </div>
                <div class="submit-bx">
                    <input type="submit" value="SUBMIT MESSAGE">
                </div>
            </div>
        </div>
    </div>
</form>*@-->
<!-- form ends here -->
<!--</div>
            </div>
        </div>
    </div>
</section>-->
<!-- contact form -->
